openapi: 3.1.0
info:
  title: MiTM Autogenerated API
  version: 1.0.0
servers:
  - url: https://graph.facebook.com
    description: Primary Server
    variables: {}
paths:
  /pigeon_health_metrics:
    post:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: false
            vary:
              schema:
                type: string
              required: false
            access-control-allow-origin:
              schema:
                type: string
              required: false
            facebook-api-version:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: false
            pragma:
              schema:
                type: string
              required: false
            cache-control:
              schema:
                type: string
              required: false
            expires:
              schema:
                type: string
              required: false
            x-fb-request-id:
              schema:
                type: string
              required: true
            x-fb-trace-id:
              schema:
                type: string
              required: true
            x-fb-rev:
              schema:
                type: string
              required: true
            x-fb-debug:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
          content:
            text/javascript:
              schema:
                type: string
      parameters:
        - name: x-fb-request-analytics-tags
          in: header
          required: true
          schema:
            type: string
        - name: priority
          in: header
          required: false
          schema:
            type: string
        - name: content-type
          in: header
          required: false
          schema:
            type: string
        - name: x-fb-rmd
          in: header
          required: true
          schema:
            type: string
        - name: content-encoding
          in: header
          required: true
          schema:
            type: string
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-friendly-name
          in: header
          required: true
          schema:
            type: string
        - name: x-tigon-is-retry
          in: header
          required: true
          schema:
            type: string
        - name: accept-encoding
          in: header
          required: false
          schema:
            type: string
        - name: x-fb-http-engine
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-client-ip
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-server-cluster
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                format:
                  type: string
                system_uptime:
                  type: number
                sent_time:
                  type: number
                sdk:
                  type: string
                mobile_health_counters:
                  type: object
                  properties:
                    dims:
                      type: object
                      properties: {}
                      required: []
                    debug_data:
                      type: object
                      properties: {}
                      required: []
                    counters:
                      type: object
                      properties:
                        follow_list_impression$#event.captured:
                          type: number
                        direct_reshare_exit_flow$#event.captured:
                          type: number
                        unfollow_reciprocal_toast_impression$#event.captured:
                          type: number
                        unfollow_reciprocal_toast_impression$#event.logged:
                          type: number
                        follow_button_tapped$#event.captured:
                          type: number
                        ig_unmute_stories$#event.captured:
                          type: number
                        ig_mute_stories$#event.logged:
                          type: number
                        ig_unmute_posts$#event.queued:
                          type: number
                        multiple_links_viewed_in_bio$#event.logged:
                          type: number
                        ig_profile_action$#event.logged:
                          type: number
                        ig_mute_action_selected$#event.logged:
                          type: number
                        instagram_feed_favorites_user_action_remove$#event.queued:
                          type: number
                        fx_access_control_list$#event.captured:
                          type: number
                        instagram_feed_favorites_user_action_remove$#event.captured:
                          type: number
                        sys_sql_persistence_store_db_recovery_attemp_on_startup:
                          type: number
                        instagram_feed_favorites_user_action_add$#event.queued:
                          type: number
                        ig_notification_will_display$#event.queued:
                          type: number
                        ig_unmute_posts$#event.captured:
                          type: number
                        ig_app_start$#event.captured:
                          type: number
                        push_notification$#event.captured:
                          type: number
                        similar_user_impression$#event.captured:
                          type: number
                        ig_mute_posts$#event.captured:
                          type: number
                        direct_inapp_notification_impression$#event.logged:
                          type: number
                        ig_badge_click$#event.queued:
                          type: number
                        instagram_thumbnail_impression$#event.logged:
                          type: number
                        ig_wellbeing_restrict_profile_flow_action$#event.captured:
                          type: number
                        multiple_links_viewed_in_bio$#event.queued:
                          type: number
                        multiple_links_viewed_in_bio$#event.captured:
                          type: number
                        reel_tray_impression$#event.queued:
                          type: number
                        instagram_organic_sub_viewed_impression$#event.queued:
                          type: number
                        video_audio_disabled$#event.captured:
                          type: number
                        event.not_processed.purged.storage_limit_exceeded:
                          type: number
                        instagram_organic_sub_impression$#event.captured:
                          type: number
                        video_exited$#event.queued:
                          type: number
                        sys_sql_persistence_store_db_dbop_called:
                          type: number
                        mwb_igd_client_delta_received$#event.captured:
                          type: number
                        notification_feed_disappear$#event.logged:
                          type: number
                        ig_unmute_posts$#event.logged:
                          type: number
                        mwb_actor_experience_event$#event.logged:
                          type: number
                        video_paused$#event.queued:
                          type: number
                        get_google_account_failure$#event.captured:
                          type: number
                        direct_enter_thread$#event.logged:
                          type: number
                        external_share_option_impression$#event.queued:
                          type: number
                        chaining_button_impression$#event.logged:
                          type: number
                        ig_android_profile_installer$#event.queued:
                          type: number
                        instagram_organic_tag$#event.logged:
                          type: number
                        time_spent_bit_array$#event.logged:
                          type: number
                        instagram_share_comment_to_story_entrypoint_impression$#event.queued:
                          type: number
                        instagram_share_comment_to_story_entrypoint_impression$#event.captured:
                          type: number
                        perf$#event.queued:
                          type: number
                        instagram_af_filter_events_v2$#event.queued:
                          type: number
                        ig_genai_transparency_event$#event.queued:
                          type: number
                        instagram_organic_comment_like$#event.queued:
                          type: number
                        instagram_organic_comment$#event.queued:
                          type: number
                        ig_xposting_destination_setting$#event.queued:
                          type: number
                        sys_curl_couldnt_resolve_host:
                          type: number
                        instagram_organic_comment$#event.captured:
                          type: number
                        qp_eligibility_waterfall$#event.captured:
                          type: number
                        sys_upload_started:
                          type: number
                        push_notification_setting$#event.logged:
                          type: number
                        mobile_config_general_cases$#event.captured:
                          type: number
                        ig_direct_thread_fetch_success_rate$#event.captured:
                          type: number
                        instagram_organic_comment$#event.logged:
                          type: number
                        sys_sqlite_full:
                          type: number
                        direct_inapp_notification_impression$#event.queued:
                          type: number
                        sys_sqlite_cantopen:
                          type: number
                        ig_badge_click$#event.logged:
                          type: number
                        fx_access_library$#event.logged:
                          type: number
                        ig_wellbeing_restrict_profile_flow_action$#event.queued:
                          type: number
                        ig_settings_click$#event.queued:
                          type: number
                        sys_sqlite_nolfs:
                          type: number
                        instagram_comment_sheet_impression$#event.captured:
                          type: number
                        merlin_unified_protocol_event$#event.captured:
                          type: number
                        dcp_prediction_score$#event.captured:
                          type: number
                        direct_reshare_sheet_time_spent$#event.queued:
                          type: number
                        notification_feed_session_start$#event.queued:
                          type: number
                        direct_reshare_sheet_time_spent$#event.logged:
                          type: number
                        sys_sqlite_auth:
                          type: number
                        sys_curl_recv_error:
                          type: number
                        get_google_account_attempt$#event.queued:
                          type: number
                        mwb_igd_client_delta_received$#event.logged:
                          type: number
                        direct_reshare_exit_flow$#event.queued:
                          type: number
                        ig_visible_load$#event.queued:
                          type: number
                        instagram_signals_read_from_cache$#event.logged:
                          type: number
                        sys_sqlite_readonly:
                          type: number
                        direct_suggested_recipient_impression$#event.logged:
                          type: number
                        get_google_account_failure$#event.queued:
                          type: number
                        enable_sso$#event.captured:
                          type: number
                        instagram_client_delivery_funnel_start$#event.queued:
                          type: number
                        ig_visible_load$#event.captured:
                          type: number
                        direct_reshare_button_tap$#event.captured:
                          type: number
                        video_exited$#event.captured:
                          type: number
                        ig_navigation_tab_clicked$#event.logged:
                          type: number
                        notification_feed_appear$#event.captured:
                          type: number
                        video_buffering_started$#event.queued:
                          type: number
                        instagram_pro_home_impression$#event.logged:
                          type: number
                        notification_feed_appear$#event.logged:
                          type: number
                        reel_tray_refresh$#event.queued:
                          type: number
                        notification_feed_session_start$#event.captured:
                          type: number
                        sys_sqlite_locked:
                          type: number
                        instagram_session_throughput$#event.logged:
                          type: number
                        gen_ai_studio_ig_client_event$#event.logged:
                          type: number
                        external_share_option_impression$#event.captured:
                          type: number
                        log_out_single_accounts$#event.captured:
                          type: number
                        ig_push_token_registration$#event.queued:
                          type: number
                        ig_feed_unified_feedback_disclosure_impression$#event.captured:
                          type: number
                        ig_genai_transparency_event$#event.logged:
                          type: number
                        instagram_thumbnail_impression$#event.captured:
                          type: number
                        sys_sqlite_misuse:
                          type: number
                        instagram_client_password_encryption_encrypt_attempt$#event.queued:
                          type: number
                        sys_sqlite_busy:
                          type: number
                        direct_reshare_sheet_time_spent$#event.captured:
                          type: number
                        sys_sqlite_mismatch:
                          type: number
                        facebook_first_party_auth$#event.logged:
                          type: number
                        video_audio_disabled$#event.logged:
                          type: number
                        instagram_android_badge$#event.logged:
                          type: number
                        sys_sql_persistence_store_db_recovery_failed_on_dbop:
                          type: number
                        ig_unmute_stories$#event.logged:
                          type: number
                        share_sheet_impression$#event.queued:
                          type: number
                        notification_feed_session_start$#event.logged:
                          type: number
                        video_started_playing$#event.logged:
                          type: number
                        sys_sqlite_notadb:
                          type: number
                        video_buffering_started$#event.logged:
                          type: number
                        messaging_notification_event$#event.captured:
                          type: number
                        fx_access_control_list$#event.queued:
                          type: number
                        media_playback_compound_fast$#event.logged:
                          type: number
                        ig_dark_mode_opt$#event.queued:
                          type: number
                        ig_mute_action_selected$#event.captured:
                          type: number
                        mwb_igd_client_delta_received$#event.queued:
                          type: number
                        instagram_organic_impression$#event.queued:
                          type: number
                        ig_profile_action$#event.queued:
                          type: number
                        merlin_unified_protocol_event$#event.logged:
                          type: number
                        direct_message_waterfall$#event.captured:
                          type: number
                        direct_suggested_recipient_impression$#event.queued:
                          type: number
                        instagram_organic_carousel_impression$#event.queued:
                          type: number
                        messaging_notification_event$#event.logged:
                          type: number
                        instagram_organic_like$#event.logged:
                          type: number
                        ig_notification_will_display$#event.logged:
                          type: number
                        instagram_organic_time_spent$#event.logged:
                          type: number
                        instagram_session_throughput$#event.captured:
                          type: number
                        client_register_trusteddevice_success$#event.logged:
                          type: number
                        caa_aymh_client_events_ig$#event.logged:
                          type: number
                        barcelona_growth_integration_impression$#event.captured:
                          type: number
                        sys_upload_succeeded:
                          type: number
                        get_google_account_attempt$#event.logged:
                          type: number
                        sys_curl_other:
                          type: number
                        instagram_feed_request_sent$#event.logged:
                          type: number
                        dcp_prediction_score$#event.logged:
                          type: number
                        direct_inapp_notification_impression$#event.captured:
                          type: number
                        instagram_organic_impression$#event.logged:
                          type: number
                        instagram_wellbeing_comment_count_accuracy$#event.logged:
                          type: number
                        ig_badge_impression$#event.captured:
                          type: number
                        ig_genai_transparency_event$#event.captured:
                          type: number
                        instagram_organic_comment_like$#event.captured:
                          type: number
                        instagram_organic_share_button$#event.queued:
                          type: number
                        fx_access_library$#event.queued:
                          type: number
                        newsfeed_story_impression$#event.captured:
                          type: number
                        intl_android_string_impressions$#event.queued:
                          type: number
                        1296$#event.queued:
                          type: number
                        direct_e2e_message_delivery_waterfall$#event.queued:
                          type: number
                        instagram_ad_async_ad_controller_action_success$#event.queued:
                          type: number
                        messaging_notification_event$#event.queued:
                          type: number
                        enable_sso$#event.queued:
                          type: number
                        ig_badge_accuracy$#event.captured:
                          type: number
                        instagram_share_comment_to_story_entrypoint_impression$#event.logged:
                          type: number
                        ig_settings_click$#event.captured:
                          type: number
                        facebook_first_party_auth$#event.queued:
                          type: number
                        sys_upload_session_failed:
                          type: number
                        sys_upload_failed:
                          type: number
                        caa_login_client_events_ig$#event.logged:
                          type: number
                        caa_login_client_events_ig$#event.captured:
                          type: number
                        instagram_organic_like$#event.queued:
                          type: number
                        get_google_account_attempt$#event.captured:
                          type: number
                        sys_sql_persistence_store_db_open_failed:
                          type: number
                        instagram_signal_send_in_payload$#event.queued:
                          type: number
                        cxp_ig_client_sourced_creation$#event.captured:
                          type: number
                        direct_mentions_lists$#event.logged:
                          type: number
                        ig_settings_click$#event.logged:
                          type: number
                        instagram_feed_item_removed$#event.captured:
                          type: number
                        profile_view$#event.captured:
                          type: number
                        instagram_organic_carousel_vpvd_imp$#event.queued:
                          type: number
                        mobile_config_general_cases$#event.queued:
                          type: number
                        instagram_ad_async_ad_controller_action_success$#event.captured:
                          type: number
                        instagram_stories_request_sent$#event.queued:
                          type: number
                        similar_user_impression$#event.queued:
                          type: number
                        ig_comments_view_more_replies_tap$#event.captured:
                          type: number
                        ig_badge_impression$#event.queued:
                          type: number
                        ig_settings_impression$#event.captured:
                          type: number
                        ig_profile_action$#event.captured:
                          type: number
                        follow_button_tapped$#event.queued:
                          type: number
                        share_sheet_impression$#event.captured:
                          type: number
                        sys_sqlite_notfound:
                          type: number
                        client_register_trusteddevice_init$#event.captured:
                          type: number
                        barcelona_growth_integration_impression$#event.logged:
                          type: number
                        instagram_wellbeing_comment_count_accuracy$#event.queued:
                          type: number
                        notification_feed_exit$#event.captured:
                          type: number
                        instagram_stories_request_sent$#event.logged:
                          type: number
                        instagram_client_password_encryption_encrypt_attempt$#event.logged:
                          type: number
                        ig_notification_will_display$#event.captured:
                          type: number
                        reel_tray_refresh$#event.logged:
                          type: number
                        instagram_feed_favorites_user_action_add$#event.logged:
                          type: number
                        log_out_single_accounts$#event.queued:
                          type: number
                        fx_sso_library$#event.queued:
                          type: number
                        navigation$#event.captured:
                          type: number
                        ig_navigation_tab_clicked$#event.queued:
                          type: number
                        ig_notification_received$#event.captured:
                          type: number
                        ig_navigation_tab_clicked$#event.captured:
                          type: number
                        ig_log_out_sso$#event.queued:
                          type: number
                        direct_enter_thread$#event.captured:
                          type: number
                        mwb_actor_experience_event$#event.queued:
                          type: number
                        reel_tray_impression$#event.logged:
                          type: number
                        instagram_organic_viewed_impression$#event.logged:
                          type: number
                        external_share_option_impression$#event.logged:
                          type: number
                        ig_push_token_registration$#event.logged:
                          type: number
                        barcelona_growth_integration_impression$#event.queued:
                          type: number
                        sys_sqlite_format:
                          type: number
                        event.captured:
                          type: number
                        direct_mentions_lists$#event.captured:
                          type: number
                        sys_sql_persistence_store_db_recovery_attempt_on_dbop:
                          type: number
                        instagram_client_delivery_funnel_end$#event.logged:
                          type: number
                        app_installations$#event.queued:
                          type: number
                        instagram_client_delivery_funnel_end$#event.captured:
                          type: number
                        ig_badge_click$#event.captured:
                          type: number
                        instagram_session_throughput$#event.queued:
                          type: number
                        ig_navigation_header_clicked$#event.logged:
                          type: number
                        instagram_feed_item_inserted$#event.captured:
                          type: number
                        instagram_af_filter_events_v2$#event.logged:
                          type: number
                        instagram_comment_sheet_impression$#event.logged:
                          type: number
                        instagram_thumbnail_impression$#event.queued:
                          type: number
                        perf$#event.logged:
                          type: number
                        instagram_stories_request_sent$#event.captured:
                          type: number
                        gen_ai_studio_ig_client_event$#event.captured:
                          type: number
                        instagram_item_exit_pool$#event.queued:
                          type: number
                        follow_list_impression$#event.logged:
                          type: number
                        ig_log_out_sso$#event.captured:
                          type: number
                        instagram_organic_impression_second_channel$#event.queued:
                          type: number
                        ig_badge_impression$#event.logged:
                          type: number
                        ig_mute_stories$#event.queued:
                          type: number
                        app_installations$#event.logged:
                          type: number
                        instagram_organic_comment_button$#event.queued:
                          type: number
                        msg_null_thread_impression$#event.queued:
                          type: number
                        follow_list_impression$#event.queued:
                          type: number
                        instagram_signal_collected$#event.captured:
                          type: number
                        msg_null_thread_impression$#event.logged:
                          type: number
                        direct_e2e_message_delivery_waterfall$#event.captured:
                          type: number
                        video_started_playing$#event.captured:
                          type: number
                        client_register_trusteddevice_init$#event.queued:
                          type: number
                        instagram_signal_collected$#event.logged:
                          type: number
                        ig_app_start$#event.queued:
                          type: number
                        intl_android_string_impressions$#event.logged:
                          type: number
                        media_playback_compound$#event.logged:
                          type: number
                        video_buffering_finished$#event.captured:
                          type: number
                        caa_login_client_events_ig$#event.queued:
                          type: number
                        reel_tray_refresh$#event.captured:
                          type: number
                        instagram_organic_carousel_vpvd_imp$#event.logged:
                          type: number
                        instagram_organic_share_button$#event.captured:
                          type: number
                        cxp_ig_client_sourced_creation$#event.logged:
                          type: number
                        ig_notification_received$#event.queued:
                          type: number
                        instagram_pro_home_impression$#event.captured:
                          type: number
                        qp_eligibility_waterfall$#event.queued:
                          type: number
                        instagram_organic_carousel_vpvd_imp$#event.captured:
                          type: number
                        sys_sql_persistence_store_db_open_called:
                          type: number
                        instagram_pro_home_impression$#event.queued:
                          type: number
                        instagram_ad_delivery$#event.logged:
                          type: number
                        instagram_organic_comment_button$#event.captured:
                          type: number
                        sys_sql_persistence_store_db_recovery_failed_on_startup:
                          type: number
                        sys_sqlite_toobig:
                          type: number
                        direct_message_waterfall$#event.queued:
                          type: number
                        instagram_organic_time_spent$#event.queued:
                          type: number
                        ig_navigation_tab_impression$#event.queued:
                          type: number
                        media_playback_compound_fast$#event.captured:
                          type: number
                        time_spent_bit_array$#event.captured:
                          type: number
                        push_notification_setting$#event.queued:
                          type: number
                        client_register_trusteddevice_success$#event.captured:
                          type: number
                        sys_sqlite_schema:
                          type: number
                        badging_event$#event.captured:
                          type: number
                        device_permissions_external$#event.captured:
                          type: number
                        direct_message_mark_waterfall$#event.captured:
                          type: number
                        direct_message_mark_waterfall$#event.logged:
                          type: number
                        video_paused$#event.logged:
                          type: number
                        instagram_item_exit_pool$#event.captured:
                          type: number
                        device_permissions_external$#event.queued:
                          type: number
                        ig_executor_stuck_worker$#event.logged:
                          type: number
                        push_notification$#event.queued:
                          type: number
                        msg_null_thread_impression$#event.captured:
                          type: number
                        sys_sql_persistence_store_db_dbop_succeeded:
                          type: number
                        1296$#event.logged:
                          type: number
                        instagram_client_password_encryption_encrypt_attempt$#event.captured:
                          type: number
                        qp_eligibility_waterfall$#event.logged:
                          type: number
                        log_out_single_accounts$#event.logged:
                          type: number
                        video_should_start$#event.queued:
                          type: number
                        newsfeed_story_impression$#event.logged:
                          type: number
                        ig_direct_thread_fetch_success_rate$#event.logged:
                          type: number
                        instagram_organic_tag$#event.captured:
                          type: number
                        event.logged:
                          type: number
                        instagram_organic_carousel_viewed_impression$#event.logged:
                          type: number
                        instagram_organic_impression_second_channel$#event.logged:
                          type: number
                        push_notification$#event.logged:
                          type: number
                        instagram_organic_impression_second_channel$#event.captured:
                          type: number
                        ig_xposting_destination_setting$#event.captured:
                          type: number
                        ig_android_profile_installer$#event.logged:
                          type: number
                        instagram_stories_request_completed$#event.queued:
                          type: number
                        sys_sql_persistence_store_db_open_succeeded:
                          type: number
                        navigation$#event.logged:
                          type: number
                        sys_sql_persistence_store_db_corruption_detected_on_startup:
                          type: number
                        instagram_ad_async_ad_controller_action_success$#event.logged:
                          type: number
                        perf$#event.captured:
                          type: number
                        instagram_ad_async_ad_controller_action_fail$#event.logged:
                          type: number
                        ig_direct_thread_fetch_success_rate$#event.queued:
                          type: number
                        sys_sql_persistence_store_db_recovery_succeeded_on_dbop:
                          type: number
                        event.filters.sampling:
                          type: number
                        instagram_ad_async_ad_controller_action_fail$#event.captured:
                          type: number
                        instagram_feed_item_removed$#event.logged:
                          type: number
                        instagram_organic_carousel_viewed_impression$#event.queued:
                          type: number
                        ig4a_ndx_request$#event.queued:
                          type: number
                        video_buffering_finished$#event.logged:
                          type: number
                        chaining_button_impression$#event.queued:
                          type: number
                        client_register_trusteddevice_init$#event.logged:
                          type: number
                        reel_tray_impression$#event.captured:
                          type: number
                        sys_sqlite_interrupt:
                          type: number
                        direct_enter_thread$#event.queued:
                          type: number
                        sys_sqlite_internal:
                          type: number
                        instagram_feed_request_sent$#event.captured:
                          type: number
                        push_notification_setting$#event.captured:
                          type: number
                        media_playback_compound$#event.queued:
                          type: number
                        intl_android_string_impressions$#event.captured:
                          type: number
                        sys_sqlite_ioerr:
                          type: number
                        instagram_feed_request_completed$#event.queued:
                          type: number
                        instagram_android_badge$#event.captured:
                          type: number
                        instagram_feed_request_completed$#event.logged:
                          type: number
                        get_google_account_failure$#event.logged:
                          type: number
                        media_playback_compound$#event.captured:
                          type: number
                        direct_reshare_button_tap$#event.queued:
                          type: number
                        instagram_feed_item_inserted$#event.queued:
                          type: number
                        instagram_organic_carousel_impression$#event.logged:
                          type: number
                        video_audio_disabled$#event.queued:
                          type: number
                        instagram_device_ids$#event.captured:
                          type: number
                        instagram_organic_sub_impression$#event.logged:
                          type: number
                        ig_visible_load$#event.logged:
                          type: number
                        sys_upload_failed_with_non200:
                          type: number
                        ig_navigation_header_clicked$#event.captured:
                          type: number
                        notification_feed_appear$#event.queued:
                          type: number
                        instagram_organic_sub_viewed_impression$#event.captured:
                          type: number
                        sys_sqlite_error:
                          type: number
                        video_buffering_started$#event.captured:
                          type: number
                        direct_mentions_lists$#event.queued:
                          type: number
                        instagram_ad_invalidation$#event.captured:
                          type: number
                        fx_access_library$#event.captured:
                          type: number
                        direct_message_waterfall$#event.logged:
                          type: number
                        instagram_feed_request_completed$#event.captured:
                          type: number
                        ig_mute_posts$#event.queued:
                          type: number
                        direct_e2e_message_delivery_waterfall$#event.logged:
                          type: number
                        event.persisted:
                          type: number
                        ig4a_ndx_request$#event.captured:
                          type: number
                        enable_sso$#event.logged:
                          type: number
                        event.filters.constraint:
                          type: number
                        time_spent_bit_array$#event.queued:
                          type: number
                        instagram_client_delivery_funnel_start$#event.captured:
                          type: number
                        instagram_feed_favorites_user_action_remove$#event.logged:
                          type: number
                        instagram_client_delivery_funnel_end$#event.queued:
                          type: number
                        navigation$#event.queued:
                          type: number
                        ig_executor_stuck_worker$#event.captured:
                          type: number
                        notification_feed_disappear$#event.captured:
                          type: number
                        sys_upload_session_succeeded:
                          type: number
                        merlin_unified_protocol_event$#event.queued:
                          type: number
                        video_should_start$#event.logged:
                          type: number
                        caa_aymh_client_events_ig$#event.captured:
                          type: number
                        event.uploaded:
                          type: number
                        sys_sql_persistence_store_db_recovery_succeeded_on_startup:
                          type: number
                        client_register_trusteddevice_success$#event.queued:
                          type: number
                        ig_navigation_tab_impression$#event.logged:
                          type: number
                        sys_upload_scheduled_size_threshold:
                          type: number
                        instagram_organic_sub_viewed_impression$#event.logged:
                          type: number
                        notification_feed_exit$#event.queued:
                          type: number
                        fx_sso_library$#event.logged:
                          type: number
                        instagram_feed_request_sent$#event.queued:
                          type: number
                        caa_aymh_client_events_ig$#event.queued:
                          type: number
                        ig_dark_mode_opt$#event.logged:
                          type: number
                        sys_sql_persistence_store_db_corruption_detected_on_dbop:
                          type: number
                        instagram_organic_viewed_impression$#event.queued:
                          type: number
                        ig_mute_posts$#event.logged:
                          type: number
                        ig_log_out_sso$#event.logged:
                          type: number
                        sys_sqlite_range:
                          type: number
                        instagram_signal_send_in_payload$#event.logged:
                          type: number
                        instagram_ad_invalidation$#event.queued:
                          type: number
                        instagram_wellbeing_comment_count_accuracy$#event.captured:
                          type: number
                        ig_mute_stories$#event.captured:
                          type: number
                        sys_sqlite_corrupt:
                          type: number
                        sys_curl_send_error:
                          type: number
                        instagram_feed_item_removed$#event.queued:
                          type: number
                        video_started_playing$#event.queued:
                          type: number
                        instagram_ad_async_ad_controller_action_fail$#event.queued:
                          type: number
                        ig_settings_impression$#event.queued:
                          type: number
                        sys_sqlite_perm:
                          type: number
                        instagram_organic_impression$#event.captured:
                          type: number
                        gen_ai_studio_ig_client_event$#event.queued:
                          type: number
                        sys_upload_session_started:
                          type: number
                        video_paused$#event.captured:
                          type: number
                        fx_access_control_list$#event.logged:
                          type: number
                        instagram_android_badge$#event.queued:
                          type: number
                        video_buffering_finished$#event.queued:
                          type: number
                        ig_feed_unified_feedback_disclosure_impression$#event.logged:
                          type: number
                        similar_user_impression$#event.logged:
                          type: number
                        ig_wellbeing_restrict_profile_flow_action$#event.logged:
                          type: number
                        ig_navigation_tab_impression$#event.captured:
                          type: number
                        instagram_organic_comment_like$#event.logged:
                          type: number
                        instagram_organic_tag$#event.queued:
                          type: number
                        instagram_signals_read_from_cache$#event.captured:
                          type: number
                        cxp_ig_client_sourced_creation$#event.queued:
                          type: number
                        ig_navigation_header_clicked$#event.queued:
                          type: number
                        1296$#event.captured:
                          type: number
                        newsfeed_story_impression$#event.queued:
                          type: number
                        sys_sqlite_constraint:
                          type: number
                        sys_sqlite_abort:
                          type: number
                        notification_feed_disappear$#event.queued:
                          type: number
                        event.not_processed.payload.serialization.failed:
                          type: number
                        instagram_signal_collected$#event.queued:
                          type: number
                        instagram_device_ids$#event.queued:
                          type: number
                        ig_dark_mode_opt$#event.captured:
                          type: number
                        instagram_signals_read_from_cache$#event.queued:
                          type: number
                        profile_view$#event.queued:
                          type: number
                        instagram_device_ids$#event.logged:
                          type: number
                        instagram_stories_request_completed$#event.captured:
                          type: number
                        ig_notification_received$#event.logged:
                          type: number
                        facebook_first_party_auth$#event.captured:
                          type: number
                        instagram_comment_sheet_impression$#event.queued:
                          type: number
                        sys_curl_ssl_connect_error:
                          type: number
                        instagram_organic_like$#event.captured:
                          type: number
                        direct_reshare_exit_flow$#event.logged:
                          type: number
                        dcp_prediction_score$#event.queued:
                          type: number
                        sys_sql_persistence_store_db_corruption_detected_after_recovery_on_dbop:
                          type: number
                        instagram_stories_request_completed$#event.logged:
                          type: number
                        ig_settings_impression$#event.logged:
                          type: number
                        notification_feed_exit$#event.logged:
                          type: number
                        ig_badge_accuracy$#event.queued:
                          type: number
                        app_installations$#event.captured:
                          type: number
                        ig_launcher_config_exposure$#event.logged:
                          type: number
                        ig_launcher_config_exposure$#event.queued:
                          type: number
                        follow_button_tapped$#event.logged:
                          type: number
                        sys_sql_persistence_store_db_dbop_failed:
                          type: number
                        sys_sqlite_empty:
                          type: number
                        video_should_start$#event.captured:
                          type: number
                        badging_event$#event.queued:
                          type: number
                        ig_xposting_destination_setting$#event.logged:
                          type: number
                        ig_app_start$#event.logged:
                          type: number
                        ig_feed_unified_feedback_disclosure_impression$#event.queued:
                          type: number
                        ig_mute_action_selected$#event.queued:
                          type: number
                        video_exited$#event.logged:
                          type: number
                        instagram_organic_comment_button$#event.logged:
                          type: number
                        media_playback_compound_fast$#event.queued:
                          type: number
                        event.not_processed.persist.failed:
                          type: number
                        sys_sqlite_nomem:
                          type: number
                        sys_sql_persistence_store_db_not_open_detected_on_startup:
                          type: number
                        ig_android_profile_installer$#event.captured:
                          type: number
                        ig_unmute_stories$#event.queued:
                          type: number
                        instagram_af_filter_events_v2$#event.captured:
                          type: number
                        direct_reshare_button_tap$#event.logged:
                          type: number
                        fx_sso_library$#event.captured:
                          type: number
                        instagram_ad_invalidation$#event.logged:
                          type: number
                        instagram_signal_send_in_payload$#event.captured:
                          type: number
                        instagram_organic_carousel_impression$#event.captured:
                          type: number
                        ig4a_ndx_request$#event.logged:
                          type: number
                        mwb_actor_experience_event$#event.captured:
                          type: number
                        device_permissions_external$#event.logged:
                          type: number
                        ig_badge_accuracy$#event.logged:
                          type: number
                        ig_comments_view_more_replies_tap$#event.logged:
                          type: number
                        instagram_organic_sub_impression$#event.queued:
                          type: number
                        sys_sql_persistence_store_failed_to_open_db_on_startup:
                          type: number
                        direct_suggested_recipient_impression$#event.captured:
                          type: number
                        profile_view$#event.logged:
                          type: number
                        instagram_feed_item_inserted$#event.logged:
                          type: number
                        instagram_organic_share_button$#event.logged:
                          type: number
                        badging_event$#event.logged:
                          type: number
                        ig_executor_stuck_worker$#event.queued:
                          type: number
                        sys_sqlite_protocol:
                          type: number
                        chaining_button_impression$#event.captured:
                          type: number
                        share_sheet_impression$#event.logged:
                          type: number
                        ig_push_token_registration$#event.captured:
                          type: number
                        direct_message_mark_waterfall$#event.queued:
                          type: number
                        instagram_ad_delivery$#event.queued:
                          type: number
                        instagram_feed_favorites_user_action_add$#event.captured:
                          type: number
                        instagram_client_delivery_funnel_start$#event.logged:
                          type: number
                        unfollow_reciprocal_toast_impression$#event.queued:
                          type: number
                        instagram_organic_carousel_viewed_impression$#event.captured:
                          type: number
                        ig_launcher_config_exposure$#event.captured:
                          type: number
                        instagram_ad_delivery$#event.captured:
                          type: number
                        ig_comments_view_more_replies_tap$#event.queued:
                          type: number
                        sys_curl_couldnt_connect:
                          type: number
                        mobile_config_general_cases$#event.logged:
                          type: number
                        instagram_organic_viewed_impression$#event.captured:
                          type: number
                        instagram_item_exit_pool$#event.logged:
                          type: number
                        instagram_organic_time_spent$#event.captured:
                          type: number
                        instagram_ibc_profile_actions$#event.queued:
                          type: number
                        instagram_ibc_profile_actions$#event.captured:
                          type: number
                        user_list_group_tap$#event.queued:
                          type: number
                        user_list_group_tap$#event.logged:
                          type: number
                        recommended_user_impression$#event.queued:
                          type: number
                        recommended_user_impression$#event.captured:
                          type: number
                        reel_playback_exit$#event.captured:
                          type: number
                        inline_ci_upsell_impression$#event.captured:
                          type: number
                        fx_upsells_product$#event.queued:
                          type: number
                        inline_ci_upsell_impression$#event.logged:
                          type: number
                        fx_upsells_product$#event.logged:
                          type: number
                        edit_link_cancel_clicked$#event.queued:
                          type: number
                        ig_topical_content_controls$#event.captured:
                          type: number
                        ig_control_center_not_interested_tap$#event.logged:
                          type: number
                        edit_link_cancel_clicked$#event.captured:
                          type: number
                        ig_direct_reshare_send_do_not_use$#event.queued:
                          type: number
                        instagram_smb_partner_flow_producer$#event.logged:
                          type: number
                        edit_profile_tap_component$#event.captured:
                          type: number
                        reel_session_summary$#event.captured:
                          type: number
                        ig_story_entity_tap$#event.logged:
                          type: number
                        ig_native_meta_verified_edit_profile_impression$#event.captured:
                          type: number
                        instagram_organic_add_to_collection$#event.captured:
                          type: number
                        instagram_smb_partner_flow_producer$#event.captured:
                          type: number
                        fx_identity_product$#event.logged:
                          type: number
                        ig_control_center_custom_words_tap$#event.queued:
                          type: number
                        instagram_thumbnail_click$#event.logged:
                          type: number
                        send_phone_id_request$#event.logged:
                          type: number
                        instagram_organic_unsave$#event.logged:
                          type: number
                        instagram_save_collections_init$#event.captured:
                          type: number
                        ig_overflow_menu_selected$#event.logged:
                          type: number
                        ig_control_center_interested_tap$#event.logged:
                          type: number
                        user_list_group_impression$#event.logged:
                          type: number
                        instagram_organic_add_to_collection$#event.logged:
                          type: number
                        instagram_organic_save$#event.queued:
                          type: number
                        instagram_organic_save$#event.captured:
                          type: number
                        instagram_organic_save$#event.logged:
                          type: number
                        barcelona_growth_integration_tap$#event.captured:
                          type: number
                        instagram_save_collections_init$#event.queued:
                          type: number
                        instagram_organic_remove_from_collection$#event.queued:
                          type: number
                        instagram_organic_unsave$#event.queued:
                          type: number
                        reel_session_summary$#event.logged:
                          type: number
                        similar_username_tapped$#event.logged:
                          type: number
                        ig_settings_change$#event.captured:
                          type: number
                        direct_share_media$#event.logged:
                          type: number
                        cert_verification$#event.logged:
                          type: number
                        ig_highlights_scrubber_action$#event.captured:
                          type: number
                        instagram_organic_add_to_collection$#event.queued:
                          type: number
                        instagram_why_am_i_seeing_this_post$#event.captured:
                          type: number
                        words_and_phrases_page$#event.captured:
                          type: number
                        instagram_activity_center_bulk_action$#event.queued:
                          type: number
                        instagram_activity_center_bulk_action$#event.logged:
                          type: number
                        reel_playback_exit$#event.queued:
                          type: number
                        edit_link_add_link_clicked$#event.logged:
                          type: number
                        fx_identity_product$#event.captured:
                          type: number
                        video_fetched$#event.captured:
                          type: number
                        edit_link_add_link_clicked$#event.queued:
                          type: number
                        reel_playback_navigation$#event.logged:
                          type: number
                        instagram_organic_clips_remix_option_impression$#event.captured:
                          type: number
                        ig_control_center_page$#event.captured:
                          type: number
                        contact_import_upsell_impression$#event.captured:
                          type: number
                        instagram_ibc_profile_actions$#event.logged:
                          type: number
                        ig_highlights_scrubber_action$#event.queued:
                          type: number
                        contact_import_upsell_impression$#event.queued:
                          type: number
                        ig_native_meta_verified_edit_profile_impression$#event.logged:
                          type: number
                        video_fetched$#event.logged:
                          type: number
                        reel_playback_exit$#event.logged:
                          type: number
                        direct_compose_select_recipient$#event.queued:
                          type: number
                        video_audio_enabled$#event.queued:
                          type: number
                        phone_id_response_received$#event.captured:
                          type: number
                        reel_playback_navigation$#event.captured:
                          type: number
                        video_fetched$#event.queued:
                          type: number
                        ig_control_center_interested_tap$#event.queued:
                          type: number
                        instagram_organic_unsave$#event.captured:
                          type: number
                        ig_overflow_menu_selected$#event.captured:
                          type: number
                        recommended_user_impression$#event.logged:
                          type: number
                        edit_profile_tap_component$#event.queued:
                          type: number
                        user_list_group_tap$#event.captured:
                          type: number
                        cert_verification$#event.captured:
                          type: number
                        direct_compose_select_recipient$#event.logged:
                          type: number
                        direct_reshare_select_recipient$#event.queued:
                          type: number
                        reel_playback_entry$#event.captured:
                          type: number
                        direct_reshare_select_recipient$#event.captured:
                          type: number
                        direct_reshare_select_recipient$#event.logged:
                          type: number
                        instagram_why_am_i_seeing_this_post$#event.logged:
                          type: number
                        instagram_smb_partner_flow_producer$#event.queued:
                          type: number
                        fx_upsells_product$#event.captured:
                          type: number
                        ig_story_entity_tap$#event.queued:
                          type: number
                        ig_story_entity_tap$#event.captured:
                          type: number
                        ig_highlights_scrubber_action$#event.logged:
                          type: number
                        phone_id_response_received$#event.logged:
                          type: number
                        phone_id_response_received$#event.queued:
                          type: number
                        direct_reshare_send$#event.captured:
                          type: number
                        reel_session_summary$#event.queued:
                          type: number
                        ig_control_center_page$#event.logged:
                          type: number
                        video_format_changed$#event.queued:
                          type: number
                        profile_social_context_impression$#event.logged:
                          type: number
                        chaining_button_tapped$#event.captured:
                          type: number
                        words_and_phrases_page$#event.logged:
                          type: number
                        ig_control_center_not_interested_tap$#event.captured:
                          type: number
                        instagram_organic_remove_from_collection$#event.captured:
                          type: number
                        ig_direct_reshare_send_do_not_use$#event.captured:
                          type: number
                        contact_import_upsell_impression$#event.logged:
                          type: number
                        edit_profile_tap_component$#event.logged:
                          type: number
                        ig_direct_reshare_send_do_not_use$#event.logged:
                          type: number
                        fx_identity_product$#event.queued:
                          type: number
                        cert_verification$#event.queued:
                          type: number
                        edit_link_add_link_clicked$#event.captured:
                          type: number
                        follow_list_action$#event.queued:
                          type: number
                        similar_username_tapped$#event.captured:
                          type: number
                        barcelona_growth_integration_tap$#event.logged:
                          type: number
                        reel_playback_navigation$#event.queued:
                          type: number
                        chaining_button_tapped$#event.queued:
                          type: number
                        direct_reshare_send$#event.logged:
                          type: number
                        reel_playback_entry$#event.queued:
                          type: number
                        ig_settings_change$#event.logged:
                          type: number
                        reel_playback_entry$#event.logged:
                          type: number
                        direct_compose_select_recipient$#event.captured:
                          type: number
                        ig_control_center_not_interested_tap$#event.queued:
                          type: number
                        direct_share_media$#event.queued:
                          type: number
                        ig_overflow_menu_selected$#event.queued:
                          type: number
                        chaining_button_tapped$#event.logged:
                          type: number
                        direct_share_media$#event.captured:
                          type: number
                        video_format_changed$#event.captured:
                          type: number
                        barcelona_growth_integration_tap$#event.queued:
                          type: number
                        profile_social_context_impression$#event.captured:
                          type: number
                        profile_social_context_impression$#event.queued:
                          type: number
                        instagram_save_collections_init$#event.logged:
                          type: number
                        ig_bloks_settings$#event.captured:
                          type: number
                        video_audio_enabled$#event.captured:
                          type: number
                        user_list_group_impression$#event.captured:
                          type: number
                        instagram_activity_center_bulk_action$#event.captured:
                          type: number
                        ig_bloks_settings$#event.queued:
                          type: number
                        instagram_organic_remove_from_collection$#event.logged:
                          type: number
                        instagram_organic_clips_remix_option_impression$#event.logged:
                          type: number
                        send_phone_id_request$#event.queued:
                          type: number
                        video_audio_enabled$#event.logged:
                          type: number
                        instagram_thumbnail_click$#event.queued:
                          type: number
                        inline_ci_upsell_impression$#event.queued:
                          type: number
                        instagram_organic_clips_remix_option_impression$#event.queued:
                          type: number
                        ig_topical_content_controls$#event.queued:
                          type: number
                        ig_control_center_page$#event.queued:
                          type: number
                        instagram_thumbnail_click$#event.captured:
                          type: number
                        direct_reshare_send$#event.queued:
                          type: number
                        words_and_phrases_page$#event.queued:
                          type: number
                        video_format_changed$#event.logged:
                          type: number
                        ig_bloks_settings$#event.logged:
                          type: number
                        user_list_group_impression$#event.queued:
                          type: number
                        instagram_why_am_i_seeing_this_post$#event.queued:
                          type: number
                        ig_topical_content_controls$#event.logged:
                          type: number
                        ig_control_center_interested_tap$#event.captured:
                          type: number
                        send_phone_id_request$#event.captured:
                          type: number
                        ig_control_center_custom_words_tap$#event.captured:
                          type: number
                        edit_link_cancel_clicked$#event.logged:
                          type: number
                        follow_list_action$#event.logged:
                          type: number
                        similar_username_tapped$#event.queued:
                          type: number
                        ig_settings_change$#event.queued:
                          type: number
                        ig_control_center_custom_words_tap$#event.logged:
                          type: number
                        ig_native_meta_verified_edit_profile_impression$#event.queued:
                          type: number
                        follow_list_action$#event.captured:
                          type: number
                        media_upload_success$#event.captured:
                          type: number
                        media_upload_success$#event.logged:
                          type: number
                        media_post_start$#event.queued:
                          type: number
                        media_post_start$#event.logged:
                          type: number
                        media_player_created$#event.logged:
                          type: number
                        gen_ai_imagine_create_ig_mobile_event$#event.queued:
                          type: number
                        media_upload_chunk_transfer_start$#event.queued:
                          type: number
                        media_upload_chunk_transfer_start$#event.logged:
                          type: number
                        messaging_ai_agent_interactions$#event.logged:
                          type: number
                        recording$#event.captured:
                          type: number
                        ig_camera_entity_tap$#event.queued:
                          type: number
                        direct_thread_action$#event.queued:
                          type: number
                        omnipicker_search_end$#event.captured:
                          type: number
                        direct_compose_search$#event.logged:
                          type: number
                        media_upload_segmented_transcode_start$#event.logged:
                          type: number
                        ig_camera_see_all_drafts_in_database$#event.logged:
                          type: number
                        media_upload_init_start$#event.queued:
                          type: number
                        media_upload_init_start$#event.captured:
                          type: number
                        direct_theme_picker_click$#event.logged:
                          type: number
                        media_upload_process_start$#event.captured:
                          type: number
                        qpl_aggregations$#event.queued:
                          type: number
                        direct_thread_add_people_button$#event.logged:
                          type: number
                        ig_media_publish_ready$#event.queued:
                          type: number
                        omnipicker_search_result_selected$#event.logged:
                          type: number
                        media_upload_flow_success$#event.queued:
                          type: number
                        audio_pipeline_release$#event.queued:
                          type: number
                        media_player_release$#event.queued:
                          type: number
                        media_upload_transfer_success$#event.logged:
                          type: number
                        direct_inbox_folders$#event.logged:
                          type: number
                        ig_video_render_start$#event.logged:
                          type: number
                        media_upload_flow_start$#event.logged:
                          type: number
                        media_upload_init_success$#event.queued:
                          type: number
                        media_player_first_frame_rendered$#event.queued:
                          type: number
                        media_player_prepare$#event.logged:
                          type: number
                        instagram_ad_requested$#event.captured:
                          type: number
                        media_player_set_loop$#event.captured:
                          type: number
                        direct_composer_send_text$#event.logged:
                          type: number
                        media_player_set_loop$#event.logged:
                          type: number
                        media_player_created$#event.captured:
                          type: number
                        ig_nux_impression$#event.captured:
                          type: number
                        ig_nux_impression$#event.logged:
                          type: number
                        ig_media_publish_success$#event.captured:
                          type: number
                        direct_inbox_folders$#event.captured:
                          type: number
                        direct_message_generic_xma_impression$#event.logged:
                          type: number
                        media_post_success$#event.captured:
                          type: number
                        ig_media_upload_start$#event.queued:
                          type: number
                        ig_media_upload_start$#event.captured:
                          type: number
                        ig_camera_music_selection_oracle$#event.queued:
                          type: number
                        ig_camera_publish_media$#event.captured:
                          type: number
                        ig_media_publish_invoke$#event.logged:
                          type: number
                        ig_media_ingest_start$#event.logged:
                          type: number
                        ig_camera_start_camera_session$#event.logged:
                          type: number
                        ig_camera_music_selection_oracle$#event.logged:
                          type: number
                        ig_camera_share_media$#event.queued:
                          type: number
                        direct_composer_thread_tap_plus$#event.logged:
                          type: number
                        ig_camera_publish_media$#event.logged:
                          type: number
                        ig_camera_start_post_capture_session$#event.captured:
                          type: number
                        media_upload_init_start$#event.logged:
                          type: number
                        audio_pipeline_prepare$#event.queued:
                          type: number
                        ig_camera_entity_tap$#event.captured:
                          type: number
                        media_upload_chunk_transfer_success$#event.logged:
                          type: number
                        ig_camera_ui_tool_click$#event.captured:
                          type: number
                        instagram_ad_position_change$#event.queued:
                          type: number
                        direct_thread_change_theme$#event.queued:
                          type: number
                        direct_theme_preview$#event.logged:
                          type: number
                        direct_theme_picker_click$#event.captured:
                          type: number
                        direct_thread_theme_picker$#event.queued:
                          type: number
                        direct_thread_theme_picker$#event.captured:
                          type: number
                        media_player_set_time_range$#event.captured:
                          type: number
                        ig_direct_inbox_v2_item_impression$#event.queued:
                          type: number
                        ig_camera_see_all_drafts$#event.captured:
                          type: number
                        ig_camera_capture$#event.queued:
                          type: number
                        direct_inbox_follow_requests_see_all_impression$#event.queued:
                          type: number
                        direct_inbox_follow_requests_see_all_impression$#event.logged:
                          type: number
                        direct_thread_null_state_action$#event.captured:
                          type: number
                        ig_camera_start_post_capture_session$#event.queued:
                          type: number
                        direct_thread_leave$#event.queued:
                          type: number
                        direct_composer_tap$#event.captured:
                          type: number
                        ig_camera_ar_effect_impression$#event.captured:
                          type: number
                        direct_thread_change_theme$#event.logged:
                          type: number
                        direct_thread_details_impression$#event.captured:
                          type: number
                        instagram_ad_requested$#event.logged:
                          type: number
                        direct_thread_tap_details_button$#event.queued:
                          type: number
                        direct_thread_tap_details_button$#event.logged:
                          type: number
                        direct_message_impression$#event.logged:
                          type: number
                        omnipicker_search_end$#event.logged:
                          type: number
                        direct_group_creation_create$#event.captured:
                          type: number
                        direct_composer_tap$#event.queued:
                          type: number
                        direct_theme_preview$#event.captured:
                          type: number
                        instagram_ad_viewability$#event.queued:
                          type: number
                        direct_composer_send_text$#event.captured:
                          type: number
                        direct_composer_tap$#event.logged:
                          type: number
                        direct_composer_tap_text_field$#event.queued:
                          type: number
                        omnipicker_search_error_state$#event.queued:
                          type: number
                        omnipicker_search_error_state$#event.captured:
                          type: number
                        omnipicker_search_error_state$#event.logged:
                          type: number
                        direct_group_creation_unreachable_recipient_row_disabled$#event.queued:
                          type: number
                        direct_thread_unseen_message_impression$#event.queued:
                          type: number
                        media_upload_flow_success$#event.captured:
                          type: number
                        direct_thread_unseen_message_impression$#event.captured:
                          type: number
                        cxp_ig_client_xpost_interoperability_platform$#event.logged:
                          type: number
                        instagram_organic_vpvd_imp$#event.captured:
                          type: number
                        ig_camera_ui_tool_click$#event.queued:
                          type: number
                        omnipicker_search_impression$#event.queued:
                          type: number
                        omnipicker_search_result_selected$#event.queued:
                          type: number
                        omnipicker_search_impression$#event.captured:
                          type: number
                        media_upload_chunk_transfer_dequeue$#event.queued:
                          type: number
                        invite_upsell_impression$#event.logged:
                          type: number
                        cxp_ig_client_xpost_interoperability_platform$#event.queued:
                          type: number
                        ig_video_render_success$#event.logged:
                          type: number
                        ig_camera_share_media$#event.logged:
                          type: number
                        omnipicker_search_query_changed$#event.captured:
                          type: number
                        media_player_play$#event.logged:
                          type: number
                        direct_exit_search$#event.queued:
                          type: number
                        ig_camera_start_capture_format_session$#event.captured:
                          type: number
                        omnipicker_search_query_changed$#event.logged:
                          type: number
                        instagram_ad_position_change$#event.captured:
                          type: number
                        direct_thread_change_group_name$#event.logged:
                          type: number
                        direct_new_message_button_tapped$#event.captured:
                          type: number
                        ig_camera_music_selection_oracle$#event.captured:
                          type: number
                        media_upload_segmented_transcode_success$#event.captured:
                          type: number
                        ig_camera_end_capture_format_session$#event.logged:
                          type: number
                        media_upload_chunk_transfer_dequeue$#event.logged:
                          type: number
                        app_state$#event.logged:
                          type: number
                        omnipicker_search_start$#event.logged:
                          type: number
                        media_player_created$#event.queued:
                          type: number
                        ig_camera_ar_effect_impression$#event.queued:
                          type: number
                        media_player_set_time_range$#event.logged:
                          type: number
                        direct_inbox_thread_impression$#event.logged:
                          type: number
                        ig_video_render_success$#event.queued:
                          type: number
                        ig_camera_capture$#event.captured:
                          type: number
                        ig_non_feed_activation_impression$#event.queued:
                          type: number
                        instagram_ad_request_success$#event.logged:
                          type: number
                        ig_non_feed_activation_impression$#event.captured:
                          type: number
                        direct_thread_add_people_button$#event.captured:
                          type: number
                        direct_inbox_action$#event.queued:
                          type: number
                        media_upload_process_success$#event.captured:
                          type: number
                        direct_thread_theme_picker$#event.logged:
                          type: number
                        instagram_clips_viewer_entry$#event.queued:
                          type: number
                        direct_inbox_action$#event.logged:
                          type: number
                        media_upload_transfer_start$#event.logged:
                          type: number
                        ig_camera_select_destination$#event.queued:
                          type: number
                        ig_camera_see_all_drafts_in_database$#event.queued:
                          type: number
                        instagram_clips_social_context_impression$#event.captured:
                          type: number
                        ig_camera_publish_media$#event.queued:
                          type: number
                        media_player_release$#event.logged:
                          type: number
                        ig_camera_end_capture_format_session$#event.queued:
                          type: number
                        ig_camera_start_session$#event.logged:
                          type: number
                        ig_direct_inbox_v2_impression$#event.queued:
                          type: number
                        direct_group_add_member$#event.captured:
                          type: number
                        instagram_clips_viewer_entry$#event.logged:
                          type: number
                        audio_pipeline$#event.captured:
                          type: number
                        audio_pipeline$#event.logged:
                          type: number
                        media_upload_fetch_upload_settings_start$#event.queued:
                          type: number
                        omnipicker_search_start$#event.queued:
                          type: number
                        media_player_release$#event.captured:
                          type: number
                        media_upload_process_start$#event.logged:
                          type: number
                        media_pipeline$#event.captured:
                          type: number
                        instagram_ad_impression_second_channel$#event.captured:
                          type: number
                        direct_message_impression$#event.queued:
                          type: number
                        direct_inbox_tab_impression$#event.captured:
                          type: number
                        instagram_clips_viewer_swipe_forward$#event.queued:
                          type: number
                        camera$#event.logged:
                          type: number
                        instagram_ad_vpvd_imp$#event.captured:
                          type: number
                        instagram_ad_vpvd_imp$#event.logged:
                          type: number
                        ig_direct_inbox_v2_item_impression$#event.logged:
                          type: number
                        media_upload_process_start$#event.queued:
                          type: number
                        qpl_aggregations$#event.logged:
                          type: number
                        ig_camera_start_capture_format_session$#event.queued:
                          type: number
                        instagram_clips_viewer_exit$#event.queued:
                          type: number
                        instagram_clips_viewer_exit$#event.logged:
                          type: number
                        qpl_aggregations$#event.captured:
                          type: number
                        invite_upsell_impression$#event.queued:
                          type: number
                        audio_pipeline_release$#event.logged:
                          type: number
                        direct_thread_leave$#event.captured:
                          type: number
                        ig_camera_end_session$#event.queued:
                          type: number
                        audio_pipeline_start$#event.captured:
                          type: number
                        ig_video_render_success$#event.captured:
                          type: number
                        gen_ai_imagine_create_ig_mobile_event$#event.captured:
                          type: number
                        ig_camera_tap_capture_button$#event.captured:
                          type: number
                        direct_thread_unseen_message_impression$#event.logged:
                          type: number
                        audio_pipeline_start$#event.queued:
                          type: number
                        direct_composer_tap_text_field$#event.logged:
                          type: number
                        direct_composer_thread_tap_plus$#event.captured:
                          type: number
                        ig_media_ingest_start$#event.captured:
                          type: number
                        ig_camera_editing_tool_impression$#event.captured:
                          type: number
                        instagram_clips_viewer_exit$#event.captured:
                          type: number
                        direct_new_message_button_tapped$#event.queued:
                          type: number
                        direct_thread_action$#event.logged:
                          type: number
                        instagram_ad_request_success$#event.queued:
                          type: number
                        instagram_clips_swipe_back$#event.captured:
                          type: number
                        instagram_ad_time_spent$#event.queued:
                          type: number
                        ig_camera_start_session$#event.queued:
                          type: number
                        ig_video_render_start$#event.captured:
                          type: number
                        instagram_clips_ghost_screen_time_spent$#event.queued:
                          type: number
                        direct_theme_preview$#event.queued:
                          type: number
                        direct_inbox_tab_impression$#event.logged:
                          type: number
                        instagram_clips_ghost_screen_time_spent$#event.logged:
                          type: number
                        omnipicker_search_end$#event.queued:
                          type: number
                        direct_message_impression$#event.captured:
                          type: number
                        ig_video_render_start$#event.queued:
                          type: number
                        media_upload_transfer_start$#event.queued:
                          type: number
                        media_upload_init_success$#event.captured:
                          type: number
                        direct_composer_business_tools$#event.captured:
                          type: number
                        instagram_clips_viewer_swipe_forward$#event.logged:
                          type: number
                        ig_camera_editing_tool_impression$#event.logged:
                          type: number
                        instagram_organic_vpvd_imp$#event.queued:
                          type: number
                        direct_exit_search$#event.captured:
                          type: number
                        instagram_ad_impression$#event.captured:
                          type: number
                        direct_group_add_member$#event.logged:
                          type: number
                        audio_pipeline_seek$#event.logged:
                          type: number
                        messaging_ai_agent_interactions$#event.captured:
                          type: number
                        ig_camera_start_session$#event.captured:
                          type: number
                        audio_pipeline_release$#event.captured:
                          type: number
                        omnipicker_search_query_changed$#event.queued:
                          type: number
                        media_upload_fetch_upload_settings_success$#event.captured:
                          type: number
                        media_player_play$#event.queued:
                          type: number
                        media_post_success$#event.queued:
                          type: number
                        invite_upsell_impression$#event.captured:
                          type: number
                        ig_direct_inbox_v2_impression$#event.captured:
                          type: number
                        ig_media_upload_success$#event.queued:
                          type: number
                        create_ad_button_on_inbox_surface_impression$#event.logged:
                          type: number
                        instagram_clips_swipe_forward$#event.captured:
                          type: number
                        instagram_ad_request_success$#event.captured:
                          type: number
                        instagram_clips_swipe_forward$#event.logged:
                          type: number
                        audio_pipeline_prepare$#event.logged:
                          type: number
                        media_upload_flow_success$#event.logged:
                          type: number
                        audio_pipeline_seek$#event.captured:
                          type: number
                        direct_nux_impression$#event.captured:
                          type: number
                        ig_camera_ui_tool_click$#event.logged:
                          type: number
                        media_upload_transfer_start$#event.captured:
                          type: number
                        direct_nux_impression$#event.logged:
                          type: number
                        ig_camera_share_media$#event.captured:
                          type: number
                        ig_camera_select_destination$#event.logged:
                          type: number
                        direct_thread_null_state_action$#event.logged:
                          type: number
                        ig_camera_end_capture_format_session$#event.captured:
                          type: number
                        instagram_ad_insertion_success$#event.queued:
                          type: number
                        direct_group_creation_unreachable_recipient_row_disabled$#event.captured:
                          type: number
                        ig_camera_editing_tool_impression$#event.queued:
                          type: number
                        direct_thread_leave$#event.logged:
                          type: number
                        media_player_set_time_range$#event.queued:
                          type: number
                        media_upload_chunk_transfer_success$#event.captured:
                          type: number
                        direct_composer_thread_tap_plus$#event.queued:
                          type: number
                        direct_new_message_button_tapped$#event.logged:
                          type: number
                        instagram_organic_vpvd_imp$#event.logged:
                          type: number
                        ig_media_publish_success$#event.logged:
                          type: number
                        media_player_set_loop$#event.queued:
                          type: number
                        omnipicker_search_result_selected$#event.captured:
                          type: number
                        audio_pipeline$#event.queued:
                          type: number
                        ig_camera_capture$#event.logged:
                          type: number
                        direct_group_creation_create$#event.queued:
                          type: number
                        audio_pipeline_start$#event.logged:
                          type: number
                        omnipicker_search_impression$#event.logged:
                          type: number
                        media_upload_segmented_transcode_success$#event.logged:
                          type: number
                        app_state$#event.queued:
                          type: number
                        ig_direct_inbox_v2_item_impression$#event.captured:
[...]
