openapi: 3.1.0
info:
  title: MiTM Autogenerated API
  version: 1.0.0
servers:
  - url: https://i.instagram.com/api
    description: Primary Server
    variables: {}
paths:
  /v1/accounts/get_presence_disabled/:
    get:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            content-language:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-frame-options:
              schema:
                type: string
              required: true
            content-security-policy:
              schema:
                type: string
              required: true
            cross-origin-embedder-policy-report-only:
              schema:
                type: string
              required: true
            report-to:
              schema:
                type: string
              required: true
            cross-origin-resource-policy:
              schema:
                type: string
              required: true
            cross-origin-opener-policy:
              schema:
                type: string
              required: true
            x-content-type-options:
              schema:
                type: string
              required: true
            x-xss-protection:
              schema:
                type: string
              required: true
            x-ig-push-state:
              schema:
                type: string
              required: true
            x-ig-cache-control:
              schema:
                type: string
              required: true
            x-aed:
              schema:
                type: string
              required: true
            x-ig-request-elapsed-time-ms:
              schema:
                type: string
              required: true
            x-ig-peak-v2:
              schema:
                type: string
              required: true
            x-ig-peak-time:
              schema:
                type: string
              required: true
            x-ig-capacity-level:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            ig-set-ig-u-ig-direct-region-hint:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbid:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbts:
              schema:
                type: string
              required: true
            ig-set-ig-u-rur:
              schema:
                type: string
              required: true
            ig-set-ig-u-ds-user-id:
              schema:
                type: string
              required: true
            x-perf-stats:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            x-ig-origin-region:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  disabled:
                    type: boolean
                  thread_presence_disabled:
                    type: boolean
                  copresence_disabled:
                    type: boolean
                  public_presence_enabled_for_business_user:
                    type: boolean
                  status:
                    type: string
                required:
                  - disabled
                  - thread_presence_disabled
                  - copresence_disabled
                  - public_presence_enabled_for_business_user
                  - status
      parameters:
        - name: x-ig-app-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-mapped-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-rawclienttime
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-speed-kbps
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totalbytes-b
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totaltime-ms
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-version-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-www-claim
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-button-version
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-ax-base-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-font-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-is-layout-rtl
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-family-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-android-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-timezone-offset
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-nav-chain
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-capabilities
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
        - name: priority
          in: header
          required: true
          schema:
            type: string
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-mid
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-ds-user-id
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-rur
          in: header
          required: true
          schema:
            type: string
        - name: ig-intended-user-id
          in: header
          required: true
          schema:
            type: string
        - name: accept-encoding
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-http-engine
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-client-ip
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-server-cluster
          in: header
          required: true
          schema:
            type: string
        - name: signed_body
          in: query
          required: true
          schema:
            type: string
        - name: x-ig-salt-ids
          in: header
          required: true
          schema:
            type: string
  /v1/accounts/logout/:
    post:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            content-language:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-frame-options:
              schema:
                type: string
              required: true
            content-security-policy:
              schema:
                type: string
              required: true
            cross-origin-embedder-policy-report-only:
              schema:
                type: string
              required: true
            report-to:
              schema:
                type: string
              required: true
            cross-origin-opener-policy:
              schema:
                type: string
              required: true
            x-content-type-options:
              schema:
                type: string
              required: true
            x-xss-protection:
              schema:
                type: string
              required: true
            x-ig-push-state:
              schema:
                type: string
              required: true
            x-ig-cache-control:
              schema:
                type: string
              required: true
            x-aed:
              schema:
                type: string
              required: true
            x-ig-request-elapsed-time-ms:
              schema:
                type: string
              required: true
            x-ig-peak-v2:
              schema:
                type: string
              required: true
            x-ig-peak-time:
              schema:
                type: string
              required: true
            x-ig-capacity-level:
              schema:
                type: string
              required: true
            content-encoding:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            ig-set-authorization:
              schema:
                type: string
              required: true
            ig-set-ig-u-ig-direct-region-hint:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbid:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbts:
              schema:
                type: string
              required: true
            ig-set-ig-u-rur:
              schema:
                type: string
              required: true
            ig-set-ig-u-ds-user-id:
              schema:
                type: string
              required: true
            x-perf-stats:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            x-ig-origin-region:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  login_nonce:
                    type: string
                  phone_number:
                    type: string
                  email:
                    type: string
                  device_based_login_enabled:
                    type: boolean
                  feta_linked_profiles_info:
                    type: array
                    items:
                      type: "null"
                  status:
                    type: string
                required:
                  - login_nonce
                  - phone_number
                  - email
                  - device_based_login_enabled
                  - feta_linked_profiles_info
                  - status
      parameters:
        - name: x-ig-app-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-mapped-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-rawclienttime
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-speed-kbps
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totalbytes-b
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totaltime-ms
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-version-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-www-claim
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-button-version
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-ax-base-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-font-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-is-layout-rtl
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-family-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-android-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-timezone-offset
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-nav-chain
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-client-endpoint
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-private
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-network-properties
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-capabilities
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-mid
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-ds-user-id
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-rur
          in: header
          required: true
          schema:
            type: string
        - name: ig-intended-user-id
          in: header
          required: true
          schema:
            type: string
        - name: content-type
          in: header
          required: true
          schema:
            type: string
        - name: content-length
          in: header
          required: true
          schema:
            type: string
        - name: accept-encoding
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-http-engine
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-client-ip
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-server-cluster
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                phone_id:
                  type: string
                is_app_level_spi:
                  type: string
                guid:
                  type: string
                device_id:
                  type: string
                _uuid:
                  type: string
                one_tap_app_login:
                  type: string
                prevent_remove_device_from_wa:
                  type: string
              required:
                - phone_id
                - is_app_level_spi
                - guid
                - device_id
                - _uuid
                - one_tap_app_login
                - prevent_remove_device_from_wa
  /v1/accounts/process_contact_point_signals/:
    post:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            content-language:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-frame-options:
              schema:
                type: string
              required: true
            content-security-policy:
              schema:
                type: string
              required: true
            cross-origin-embedder-policy-report-only:
              schema:
                type: string
              required: true
            report-to:
              schema:
                type: string
              required: true
            cross-origin-opener-policy:
              schema:
                type: string
              required: true
            x-content-type-options:
              schema:
                type: string
              required: true
            x-xss-protection:
              schema:
                type: string
              required: true
            x-ig-push-state:
              schema:
                type: string
              required: true
            x-ig-cache-control:
              schema:
                type: string
              required: true
            x-aed:
              schema:
                type: string
              required: true
            x-ig-request-elapsed-time-ms:
              schema:
                type: string
              required: true
            x-ig-peak-v2:
              schema:
                type: string
              required: true
            x-ig-peak-time:
              schema:
                type: string
              required: true
            x-ig-capacity-level:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            ig-set-ig-u-ig-direct-region-hint:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbid:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbts:
              schema:
                type: string
              required: true
            ig-set-ig-u-rur:
              schema:
                type: string
              required: true
            ig-set-ig-u-ds-user-id:
              schema:
                type: string
              required: true
            x-perf-stats:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            x-ig-origin-region:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
      parameters:
        - name: x-ig-app-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-mapped-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-rawclienttime
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-speed-kbps
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totalbytes-b
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totaltime-ms
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-version-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-www-claim
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-button-version
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-ax-base-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-font-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-is-layout-rtl
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-family-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-android-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-timezone-offset
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-nav-chain
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-capabilities
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
        - name: priority
          in: header
          required: true
          schema:
            type: string
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-mid
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-ds-user-id
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-rur
          in: header
          required: true
          schema:
            type: string
        - name: ig-intended-user-id
          in: header
          required: true
          schema:
            type: string
        - name: content-type
          in: header
          required: true
          schema:
            type: string
        - name: content-length
          in: header
          required: true
          schema:
            type: string
        - name: accept-encoding
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-http-engine
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-client-ip
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-server-cluster
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                signed_body:
                  type: string
              required:
                - signed_body
  /v1/address_book/get_user_cps_for_invite/:
    get:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            content-language:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-frame-options:
              schema:
                type: string
              required: true
            content-security-policy:
              schema:
                type: string
              required: true
            cross-origin-embedder-policy-report-only:
              schema:
                type: string
              required: true
            report-to:
              schema:
                type: string
              required: true
            cross-origin-opener-policy:
              schema:
                type: string
              required: true
            x-content-type-options:
              schema:
                type: string
              required: true
            x-xss-protection:
              schema:
                type: string
              required: true
            x-ig-push-state:
              schema:
                type: string
              required: true
            x-ig-cache-control:
              schema:
                type: string
              required: true
            x-aed:
              schema:
                type: string
              required: true
            x-ig-request-elapsed-time-ms:
              schema:
                type: string
              required: true
            x-ig-peak-v2:
              schema:
                type: string
              required: true
            x-ig-peak-time:
              schema:
                type: string
              required: true
            x-ig-capacity-level:
              schema:
                type: string
              required: true
            content-encoding:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            ig-set-ig-u-ig-direct-region-hint:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbid:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbts:
              schema:
                type: string
              required: true
            ig-set-ig-u-rur:
              schema:
                type: string
              required: true
            ig-set-ig-u-ds-user-id:
              schema:
                type: string
              required: true
            x-perf-stats:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            x-ig-origin-region:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  phone_number_contacts:
                    type: array
                    items:
                      type: object
                      properties:
                        national_number:
                          type: number
                        country_code:
                          type: number
                        full_cp_value:
                          type: string
                        cp_type:
                          type: number
                      required:
                        - national_number
                        - country_code
                        - full_cp_value
                        - cp_type
                  emails_contacts:
                    type: array
                    items:
                      type: object
                      properties:
                        country_code:
                          type: number
                        full_cp_value:
                          type: string
                        cp_type:
                          type: number
                      required:
                        - country_code
                        - full_cp_value
                        - cp_type
                  status:
                    type: string
                required:
                  - phone_number_contacts
                  - emails_contacts
                  - status
      parameters:
        - name: x-ig-app-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-mapped-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-rawclienttime
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-speed-kbps
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totalbytes-b
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totaltime-ms
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-version-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-www-claim
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-button-version
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-ax-base-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-font-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-is-layout-rtl
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-family-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-android-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-timezone-offset
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-nav-chain
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-salt-ids
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-capabilities
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
        - name: priority
          in: header
          required: true
          schema:
            type: string
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-mid
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-ds-user-id
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-rur
          in: header
          required: true
          schema:
            type: string
        - name: ig-intended-user-id
          in: header
          required: true
          schema:
            type: string
        - name: accept-encoding
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-http-engine
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-client-ip
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-server-cluster
          in: header
          required: true
          schema:
            type: string
        - name: is_first_fetch
          in: query
          required: true
          schema:
            type: string
  /v1/ads/async_ads/:
    post:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            content-language:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-frame-options:
              schema:
                type: string
              required: true
            content-security-policy:
              schema:
                type: string
              required: true
            cross-origin-embedder-policy-report-only:
              schema:
                type: string
              required: true
            report-to:
              schema:
                type: string
              required: true
            cross-origin-opener-policy:
              schema:
                type: string
              required: true
            x-content-type-options:
              schema:
                type: string
              required: true
            x-xss-protection:
              schema:
                type: string
              required: true
            x-ig-push-state:
              schema:
                type: string
              required: true
            x-ig-cache-control:
              schema:
                type: string
              required: true
            x-aed:
              schema:
                type: string
              required: true
            x-ig-request-elapsed-time-ms:
              schema:
                type: string
              required: true
            x-ig-peak-v2:
              schema:
                type: string
              required: true
            x-ig-peak-time:
              schema:
                type: string
              required: true
            x-ig-capacity-level:
              schema:
                type: string
              required: true
            content-encoding:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            ig-set-ig-u-ig-direct-region-hint:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbid:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbts:
              schema:
                type: string
              required: true
            ig-set-ig-u-rur:
              schema:
                type: string
              required: true
            ig-set-ig-u-ds-user-id:
              schema:
                type: string
              required: true
            x-perf-stats:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            x-ig-origin-region:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  ad_media_items:
                    type: array
                    items:
                      type: object
                      properties:
                        ad_id:
                          type: string
                        is_demo:
                          type: boolean
                        label:
                          type: string
                        tracking_token:
                          type: string
                        hide_reasons_v2:
                          type: array
                          items:
                            type: object
                            properties:
                              reason:
                                type: string
                                nullable: true
                              text:
                                type: string
                            required:
                              - reason
                              - text
                        ad_title:
                          type: string
                        fb_page_url:
                          type: string
                        hide_flow_type:
                          type: number
                        show_ad_choices:
                          type: boolean
                        cookies:
                          type: array
                          items:
                            type: string
                        client_gap_rules:
                          type: object
                          properties:
                            carry_over_highest_position_rule:
                              type: "null"
                            consumed_media_gap_to_previous_ad:
                              type: number
                            consumed_media_gap_to_previous_netego:
                              type: number
                            highest_ad_position_rule_value:
                              type: "null"
                            highest_position_rule:
                              type: number
                            is_media_based_hp_enabled:
                              type: boolean
                            max_reel_gap_to_previous_item:
                              type: number
                            min_container_gap_to_previous_ad:
                              type: number
                            min_media_gap_to_previous_item:
                              type: number
                            pool_refresh_ttl_in_sec:
                              type: "null"
                            reel_gap_to_previous_ad:
                              type: number
                            reel_gap_to_previous_netego:
                              type: number
                            self_pog_chaining_highest_position_rule:
                              type: "null"
                            target_insertion_position:
                              type: number
                            time_gap_to_previous_item_in_sec:
                              type: number
                            target_insertion_gap:
                              type: number
                            push_up_client_gap_rules:
                              type: object
                              properties:
                                enable_user_engagement_base_insertion:
                                  type: boolean
                                max_xout_prediction_threshold:
                                  type: "null"
                                post_gap_to_previous_ad:
                                  type: number
                                post_gap_to_previous_netego:
                                  type: number
                                predicted_xout_rate:
                                  type: "null"
                                push_up_min_gap:
                                  type: number
                                time_based_insertion_gap_in_seconds:
                                  type: number
                                user_engagement_based_insertion_settings:
                                  type: "null"
                              required:
                                - enable_user_engagement_base_insertion
                                - max_xout_prediction_threshold
                                - post_gap_to_previous_ad
                                - post_gap_to_previous_netego
                                - predicted_xout_rate
                                - push_up_min_gap
                                - time_based_insertion_gap_in_seconds
                                - user_engagement_based_insertion_settings
                            common_currency_insertion_rule:
                              type: object
                              properties:
                                priority_index:
                                  type: number
                                common_currency_consumption_cost:
                                  type: object
                                  properties:
                                    units_required:
                                      type: number
                                    units_consumed:
                                      type: number
                                  required:
                                    - units_required
                                    - units_consumed
                              required:
                                - priority_index
                                - common_currency_consumption_cost
                          required:
                            - carry_over_highest_position_rule
                            - consumed_media_gap_to_previous_ad
                            - consumed_media_gap_to_previous_netego
                            - highest_ad_position_rule_value
                            - highest_position_rule
                            - is_media_based_hp_enabled
                            - max_reel_gap_to_previous_item
                            - min_container_gap_to_previous_ad
                            - min_media_gap_to_previous_item
                            - pool_refresh_ttl_in_sec
                            - reel_gap_to_previous_ad
                            - reel_gap_to_previous_netego
                            - self_pog_chaining_highest_position_rule
                            - target_insertion_position
                            - time_gap_to_previous_item_in_sec
                            - target_insertion_gap
                            - push_up_client_gap_rules
                            - common_currency_insertion_rule
                        ad_action:
                          type: string
                        link_text:
                          type: string
                        link_hint_text:
                          type: string
                        ios_links:
                          type: array
                          items:
                            type: "null"
                        android_links:
                          type: array
                          items:
                            type: object
                            properties:
                              androidClass:
                                type: string
                              appId:
                                type: "null"
                              appInstallObjectiveInvalidationBehavior:
                                type: "null"
                              appName:
                                type: "null"
                              callToActionTitle:
                                type: string
                              deeplinkUri:
                                type: string
                              funnelId:
                                type: "null"
                              funnelPurpose:
                                type: "null"
                              igUserId:
                                type: "null"
                              isAndroidAppLink:
                                type: "null"
                              isVtOdirEligible:
                                type: "null"
                              leadGenFormId:
                                type: "null"
                              linkType:
                                type: number
                              package:
                                type: string
                              playableUri:
                                type: "null"
                              productPageId:
                                type: "null"
                              redirectUri:
                                type: string
                              referrerData:
                                type: "null"
                              webUri:
                                type: string
                            required:
                              - androidClass
                              - appId
                              - appInstallObjectiveInvalidationBehavior
                              - appName
                              - callToActionTitle
                              - deeplinkUri
                              - funnelId
                              - funnelPurpose
                              - igUserId
                              - isAndroidAppLink
                              - isVtOdirEligible
                              - leadGenFormId
                              - linkType
                              - package
                              - playableUri
                              - productPageId
                              - redirectUri
                              - referrerData
                              - webUri
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              caption:
                                type: object
                                properties:
                                  content_type:
                                    type: string
                                  user:
                                    type: object
                                    properties:
                                      pk:
                                        type: number
                                      pk_id:
                                        type: string
                                      full_name:
                                        type: string
                                      is_private:
                                        type: boolean
                                      strong_id__:
                                        type: string
                                      id:
                                        type: string
                                      username:
                                        type: string
                                      is_verified:
                                        type: boolean
                                      profile_pic_id:
                                        type: string
                                      profile_pic_url:
                                        type: string
                                      is_unpublished:
                                        type: boolean
                                      fbid_v2:
                                        type: number
                                    required:
                                      - pk
                                      - pk_id
                                      - full_name
                                      - is_private
                                      - strong_id__
                                      - id
                                      - username
                                      - is_verified
                                      - profile_pic_id
                                      - profile_pic_url
                                  user_id:
                                    type: number
                                  pk:
                                    type: string
                                  strong_id__:
                                    type: string
                                  text:
                                    type: string
                                  type:
                                    type: number
                                  created_at:
                                    type: number
                                  created_at_utc:
                                    type: number
                                  media_id:
                                    type: number
                                  bit_flags:
                                    type: number
                                  status:
                                    type: string
                                  hide_username:
                                    type: boolean
                                  did_report_as_spam:
                                    type: boolean
                                  is_ranked_comment:
                                    type: boolean
                                  share_enabled:
                                    type: boolean
                                  is_covered:
                                    type: boolean
                                  private_reply_status:
                                    type: number
                                required:
                                  - content_type
                                  - user
                                  - user_id
                                  - pk
                                  - strong_id__
                                  - text
                                  - type
                                  - created_at
                                  - created_at_utc
                                  - media_id
                                  - bit_flags
                                  - status
                                  - hide_username
                              carousel_media:
                                type: array
                                items:
                                  type: "null"
                              ad_header_style:
                                type: number
                              caption_is_edited:
                                type: boolean
                              dr_ad_type:
                                type: number
                              dynamic_item_id:
                                type: number
                              fb_page_url:
                                type: string
                              is_sensitive_vertical_ad:
                                type: boolean
                              more_carousel_media_available:
                                type: boolean
                              user:
                                type: object
                                properties:
                                  pk:
                                    type: number
                                  pk_id:
                                    type: string
                                  full_name:
                                    type: string
                                  is_private:
                                    type: boolean
                                  fbid_v2:
                                    type: number
                                  third_party_downloads_enabled:
                                    type: number
                                  strong_id__:
                                    type: string
                                  is_unpublished:
                                    type: boolean
                                  id:
                                    type: string
                                  profile_pic_id:
                                    type: string
                                  profile_pic_url:
                                    type: string
                                  username:
                                    type: string
                                  has_anonymous_profile_picture:
                                    type: boolean
                                  account_badges:
                                    type: array
                                    items:
                                      type: "null"
                                  is_verified:
                                    type: boolean
                                  is_favorite:
                                    type: boolean
                                  friendship_status:
                                    type: object
                                    properties:
                                      is_muting_reel:
                                        type: boolean
                                      following:
                                        type: boolean
                                      is_bestie:
                                        type: boolean
                                      is_feed_favorite:
                                        type: boolean
                                      is_private:
                                        type: boolean
                                      is_restricted:
                                        type: boolean
                                    required: []
                                  feed_post_reshare_disabled:
                                    type: boolean
                                  show_account_transparency_details:
                                    type: boolean
                                  account_type:
                                    type: number
                                  fan_club_info:
                                    type: object
                                    properties:
                                      autosave_to_exclusive_highlight:
                                        type: "null"
                                      connected_member_count:
                                        type: "null"
                                      fan_club_id:
                                        type: "null"
                                      fan_club_name:
                                        type: "null"
                                      has_created_ssc:
                                        type: "null"
                                      has_enough_subscribers_for_ssc:
                                        type: "null"
                                      is_fan_club_gifting_eligible:
                                        type: "null"
                                      is_fan_club_referral_eligible:
                                        type: "null"
                                      is_free_trial_eligible:
                                        type: "null"
                                      largest_public_bc_id:
                                        type: "null"
                                      subscriber_count:
                                        type: "null"
                                      fan_consideration_page_revamp_eligiblity:
                                        type: "null"
                                    required:
                                      - autosave_to_exclusive_highlight
                                      - connected_member_count
                                      - fan_club_id
                                      - fan_club_name
                                      - has_created_ssc
                                      - has_enough_subscribers_for_ssc
                                      - is_fan_club_gifting_eligible
                                      - is_fan_club_referral_eligible
                                      - is_free_trial_eligible
                                      - largest_public_bc_id
                                      - subscriber_count
                                      - fan_consideration_page_revamp_eligiblity
                                  interop_messaging_user_fbid:
                                    type: number
                                  transparency_product_enabled:
                                    type: boolean
                                  is_facebook_onboarded_charity:
                                    type: boolean
                                  latest_reel_media:
                                    type: number
                                required:
                                  - pk
                                  - pk_id
                                  - full_name
                                  - is_private
                                  - fbid_v2
                                  - third_party_downloads_enabled
                                  - strong_id__
                                  - is_unpublished
                                  - id
                                  - profile_pic_id
                                  - profile_pic_url
                                  - username
                                  - has_anonymous_profile_picture
                                  - account_badges
                                  - is_verified
                                  - is_favorite
                                  - friendship_status
                              can_viewer_save:
                                type: boolean
                              carousel_media_type:
                                type: number
                              collapse_comments:
                                type: boolean
                              comment_count:
                                type: number
                              commenting_disabled_for_viewer:
                                type: boolean
                              comments:
                                type: array
                                items:
                                  type: "null"
                              dynamic_ad_carousel_card_starting_index:
                                type: number
                              has_liked:
                                type: boolean
                              has_more_comments:
                                type: boolean
                              id:
                                type: string
                              igbio_product:
                                type: "null"
                              injected:
                                type: object
                                properties:
                                  about_ad_params:
                                    type: string
                                  actor_id:
                                    type: number
                                  ad_id:
                                    type: number
                                  ad_objective_type:
                                    type: number
                                  ad_title:
                                    type: string
                                  ads_debug_info:
                                    type: object
                                    properties:
                                      adsBidInfo:
                                        type: object
                                        properties:
                                          ecpmBid:
                                            type: number
                                          ecpmPrice:
                                            type: number
                                          ectr:
                                            type: number
                                          ecvr:
                                            type: number
                                          postImpEcvr:
                                            type: number
                                          organicBidInfo:
                                            type: object
                                            properties:
                                              organicBidCpm:
                                                type: number
                                              userDollarValue:
                                                type: number
                                              serializedPacedOrganicBidMap:
                                                type: string
                                              serializedOrganicEventProbMap:
                                                type: string
                                              serializedEventQualityMap:
                                                type: string
                                              serializedImpOrganicBidMap:
                                                type: string
                                              serializedImpOrganicCoeffMap:
                                                type: "null"
                                              serializedImpOrganicScoreMap:
                                                type: string
                                            required:
                                              - organicBidCpm
                                              - userDollarValue
                                              - serializedPacedOrganicBidMap
                                              - serializedOrganicEventProbMap
                                              - serializedEventQualityMap
                                              - serializedImpOrganicBidMap
                                              - serializedImpOrganicCoeffMap
                                              - serializedImpOrganicScoreMap
                                        required:
                                          - ecpmBid
                                          - ecpmPrice
                                          - ectr
                                          - ecvr
                                          - postImpEcvr
                                          - organicBidInfo
                                      adsRankingInfo:
                                        type: object
                                        properties:
                                          organicRank:
                                            type: number
                                          ecpsBidRank:
                                            type: number
                                          totalBidRank:
                                            type: number
                                          afTotalValue:
                                            type: number
                                        required:
                                          - organicRank
                                          - ecpsBidRank
                                          - totalBidRank
                                          - afTotalValue
                                    required:
                                      - adsBidInfo
                                      - adsRankingInfo
                                  adtaxon_i18n_top1_l7_prediction:
                                    type: string
                                  app_id:
                                    type: number
                                  bqrt_version:
                                    type: number
                                  brs_severity:
                                    type: number
                                  brs_threshold:
                                    type: number
                                  campaign_id:
                                    type: number
                                  cookies:
                                    type: array
                                    items:
                                      type: string
                                  creation_source:
                                    type: string
                                  display_viewability_eligible:
                                    type: boolean
                                  fb_app_id:
                                    type: number
                                  global_position:
                                    type: number
                                  hide_flow_type:
                                    type: number
                                  hide_label:
                                    type: string
                                  iaw_wca_exclusion_targeting_rule_oc:
                                    type: string
                                  imp_signature:
                                    type: number
                                  is_app_mae_ad_exclusion_eligible:
                                    type: boolean
                                  is_bau_ifu_eligible:
                                    type: boolean
                                  is_consent_growth_ifu_eligible:
                                    type: boolean
                                  is_consent_growth_popup_eligible:
                                    type: boolean
                                  is_demo:
                                    type: boolean
                                  is_eligible_for_watch_and_shop_test:
                                    type: boolean
                                  is_feed_glados_control_eligible:
                                    type: "null"
                                  is_form_extension_eligible:
                                    type: boolean
                                  is_holdout:
                                    type: boolean
                                  is_ig_events_excluded_ad:
                                    type: boolean
                                  is_luxury_vertical_ad:
                                    type: boolean
                                  is_pharma_vertical_ad:
                                    type: boolean
                                  is_pharma_and_sensitive_vertical_ad:
                                    type: boolean
                                  is_post_click_afi_eligible:
                                    type: boolean
                                  is_shops_ifu_eligible:
                                    type: boolean
                                  lead_gen_new_experience_ineligible:
                                    type: boolean
                                  media_id:
                                    type: number
                                  optimization_goal_name:
                                    type: string
                                  pac_ad_media_ids:
                                    type: "null"
                                  page_id:
                                    type: number
                                  phone_number:
                                    type: "null"
                                  promoted_app_id:
                                    type: number
                                  should_show_secondary_cta_on_profile:
                                    type: boolean
                                  show_icon:
                                    type: boolean
                                  tracking_token:
                                    type: string
                                  validated_product_cursor:
                                    type: number
                                  view_tags:
                                    type: array
                                    items:
                                      type: "null"
                                  ad_pod_rules:
                                    type: object
                                    properties:
                                      num_ads_in_ad_pod:
                                        type: number
                                      index_in_ad_pod:
                                        type: number
                                      ad_pod_id:
                                        type: string
                                    required:
                                      - num_ads_in_ad_pod
                                      - index_in_ad_pod
                                      - ad_pod_id
                                  afi_info:
                                    type: object
                                    properties:
                                      is_reels_dwell_afi_eligible:
                                        type: boolean
                                      reels_dwell_ini_info:
                                        type: "null"
                                      iab_dwell_afi_info:
                                        type: "null"
                                      reels_repetition_info:
                                        type: "null"
                                    required:
                                      - is_reels_dwell_afi_eligible
                                      - reels_dwell_ini_info
                                      - iab_dwell_afi_info
                                      - reels_repetition_info
                                  brs_applied_content_blocklists:
                                    type: array
                                    items:
                                      type: "null"
                                  carousel_rendering_configuration:
                                    type: object
                                    properties:
                                      duration_in_ms:
                                        type: number
                                      indicator_style:
                                        type: "null"
                                      should_enable_autoadvance:
                                        type: boolean
                                      thumbnail_position:
                                        type: string
                                      thumbnail_width:
                                        type: number
                                      showcase_links:
                                        type: "null"
                                    required:
                                      - duration_in_ms
                                      - indicator_style
                                      - should_enable_autoadvance
                                      - thumbnail_position
                                      - thumbnail_width
                                      - showcase_links
                                  click_to_direct_lead_gen_ads_info:
                                    type: object
                                    properties:
                                      isLeadGenAd:
                                        type: boolean
                                    required:
                                      - isLeadGenAd
                                  ctd_ads_info:
                                    type: object
                                    properties:
                                      business_response_time_in_sec:
                                        type: "null"
                                      business_responsiveness_time_text:
                                        type: "null"
                                      welcome_message_text:
                                        type: "null"
                                    required:
                                      - business_response_time_in_sec
                                      - business_responsiveness_time_text
                                      - welcome_message_text
                                  ctj_ads_info:
                                    type: object
                                    properties:
                                      channel_name:
                                        type: "null"
                                      ig_channel_id:
                                        type: "null"
                                      invite_link:
                                        type: "null"
                                      number_of_members:
                                        type: "null"
                                      should_skip_channel_suffix_bool:
                                        type: "null"
                                    required:
                                      - channel_name
                                      - ig_channel_id
                                      - invite_link
                                      - number_of_members
                                      - should_skip_channel_suffix_bool
                                  direct_share:
                                    type: boolean
                                  format_type:
                                    type: number
                                  hide_reasons_v2:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        reason:
                                          type: string
                                          nullable: true
                                        text:
                                          type: string
                                      required:
                                        - reason
                                        - text
                                  iab_post_click_data:
                                    type: object
                                    properties:
                                      eligibleExperienceTypes:
                                        type: array
                                        items:
                                          type: string
                                      impressionTime:
                                        type: number
                                      buyWithIntegrationIABPostClickDataExtension:
                                        type: "null"
                                      buyWithPrimeIABPostClickDataExtension:
                                        type: "null"
                                      iabPostClickDisclaimers:
                                        type: array
                                        items:
                                          type: "null"
                                      metaCheckoutIABPostClickDataExtension:
                                        type: "null"
                                      metaPaymentsSDKIABPostClickDataExtension:
                                        type: "null"
                                      promoAdsAutofillPostClickDataExtension:
                                        type: "null"
                                      metaWebToAppPostClickDataExtension:
                                        type: "null"
                                      iabAutofillAdsPersonalizationPostClickDataExtension:
                                        type: "null"
                                      paypalCheckoutPostClickDataExtension:
                                        type: "null"
                                    required:
                                      - eligibleExperienceTypes
                                      - impressionTime
                                      - buyWithIntegrationIABPostClickDataExtension
                                      - buyWithPrimeIABPostClickDataExtension
                                      - iabPostClickDisclaimers
                                      - metaCheckoutIABPostClickDataExtension
                                      - metaPaymentsSDKIABPostClickDataExtension
                                      - promoAdsAutofillPostClickDataExtension
                                      - metaWebToAppPostClickDataExtension
                                      - iabAutofillAdsPersonalizationPostClickDataExtension
                                      - paypalCheckoutPostClickDataExtension
                                  invalidation_rules:
                                    type: object
                                    properties:
                                      meta_ids:
                                        type: array
                                        items:
                                          type: string
                                      local_surface:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            instruction:
                                              type: object
                                              properties:
                                                signal:
                                                  type: string
                                                conditions:
                                                  type: array
                                                  items:
                                                    type: object
                                                    properties:
                                                      comparator:
                                                        type: string
                                                      lhs:
                                                        type: string
                                                      rhs:
                                                        type: number
                                                    required:
                                                      - comparator
                                                      - lhs
                                                      - rhs
                                              required:
                                                - signal
                                          required:
                                            - instruction
                                    required:
                                      - meta_ids
                                      - local_surface
                                  is_delayed_skip_ad:
                                    type: boolean
                                  is_multi_ads_eligible:
                                    type: boolean
                                  label:
                                    type: string
                                  show_ad_choices:
                                    type: boolean
                                  sponsored_ad_disclaimer:
                                    type: "null"
                                  page_type_code:
                                    type: number
                                  cop_render_output:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        optimization_type:
                                          type: number
                                        option_value:
                                          type: number
                                      required:
                                        - optimization_type
                                        - option_value
                                  igra_personalization_info:
                                    type: object
                                    properties:
                                      is_feed_collection_product_tile_tap_target_expanded:
                                        type: boolean
                                    required:
                                      - is_feed_collection_product_tile_tap_target_expanded
                                required:
                                  - about_ad_params
                                  - actor_id
                                  - ad_id
                                  - ad_objective_type
                                  - ad_title
                                  - ads_debug_info
                                  - adtaxon_i18n_top1_l7_prediction
                                  - app_id
                                  - bqrt_version
                                  - brs_severity
                                  - brs_threshold
                                  - campaign_id
                                  - cookies
                                  - creation_source
                                  - display_viewability_eligible
                                  - fb_app_id
                                  - global_position
                                  - hide_flow_type
                                  - hide_label
                                  - iaw_wca_exclusion_targeting_rule_oc
                                  - imp_signature
                                  - is_app_mae_ad_exclusion_eligible
                                  - is_bau_ifu_eligible
                                  - is_consent_growth_ifu_eligible
                                  - is_consent_growth_popup_eligible
                                  - is_demo
                                  - is_eligible_for_watch_and_shop_test
                                  - is_feed_glados_control_eligible
                                  - is_form_extension_eligible
                                  - is_holdout
                                  - is_ig_events_excluded_ad
                                  - is_luxury_vertical_ad
                                  - is_pharma_vertical_ad
                                  - is_pharma_and_sensitive_vertical_ad
                                  - is_post_click_afi_eligible
                                  - is_shops_ifu_eligible
                                  - lead_gen_new_experience_ineligible
                                  - media_id
                                  - optimization_goal_name
                                  - pac_ad_media_ids
                                  - page_id
                                  - phone_number
                                  - should_show_secondary_cta_on_profile
                                  - show_icon
                                  - tracking_token
                                  - view_tags
                                  - ad_pod_rules
                                  - afi_info
                                  - brs_applied_content_blocklists
                                  - click_to_direct_lead_gen_ads_info
                                  - ctd_ads_info
                                  - ctj_ads_info
                                  - direct_share
                                  - hide_reasons_v2
                                  - iab_post_click_data
                                  - invalidation_rules
                                  - is_delayed_skip_ad
                                  - is_multi_ads_eligible
                                  - label
                                  - show_ad_choices
                                  - sponsored_ad_disclaimer
                                  - page_type_code
                              item_client_gap_rules:
                                type: object
                                properties:
                                  enable_user_engagement_base_insertion:
                                    type: boolean
                                  max_xout_prediction_threshold:
                                    type: "null"
                                  post_gap_to_previous_ad:
                                    type: number
                                  post_gap_to_previous_netego:
                                    type: number
                                  predicted_xout_rate:
                                    type: "null"
                                  push_up_min_gap:
                                    type: number
                                  time_based_insertion_gap_in_seconds:
                                    type: number
                                  user_engagement_based_insertion_settings:
                                    type: "null"
                                required:
                                  - enable_user_engagement_base_insertion
                                  - max_xout_prediction_threshold
                                  - post_gap_to_previous_ad
                                  - post_gap_to_previous_netego
                                  - predicted_xout_rate
                                  - push_up_min_gap
                                  - time_based_insertion_gap_in_seconds
                                  - user_engagement_based_insertion_settings
                              like_count:
                                type: number
                              likers:
                                type: array
                                items:
                                  type: "null"
                              max_num_visible_preview_comments:
                                type: number
                              media_type:
                                type: number
                              more_info:
                                type: object
                                properties:
                                  cta:
                                    type: "null"
                                  end_scene:
                                    type: "null"
                                  footer:
                                    type: "null"
                                  glados:
                                    type: "null"
                                  header:
                                    type: "null"
                                  iab:
                                    type: "null"
                                  mid_card:
                                    type: "null"
                                  profile_card:
                                    type: "null"
                                  tool_tip:
                                    type: "null"
                                  comment_sheet:
                                    type: "null"
                                  comment_sheet_cta:
                                    type: object
                                    properties:
                                      cta_sticker_style:
                                        type: "null"
                                      display_string:
                                        type: "null"
                                      display_strings:
                                        type: "null"
                                      is_interactive:
                                        type: "null"
                                      more_info_type:
                                        type: string
                                      more_info_types:
                                        type: array
                                        items:
                                          type: "null"
                                      product_tag_type:
                                        type: "null"
                                      ads_ratings_and_review_info:
                                        type: "null"
                                      subitems:
                                        type: "null"
                                    required:
                                      - cta_sticker_style
                                      - display_string
                                      - display_strings
                                      - is_interactive
                                      - more_info_type
                                      - more_info_types
                                      - product_tag_type
                                      - ads_ratings_and_review_info
                                      - subitems
                                  uas:
                                    type: "null"
                                required:
                                  - cta
                                  - end_scene
                                  - footer
                                  - glados
                                  - header
                                  - iab
                                  - mid_card
                                  - profile_card
                                  - tool_tip
                                  - comment_sheet
                                  - comment_sheet_cta
                                  - uas
                              photo_of_you:
                                type: boolean
                              pk:
                                type: number
                              taken_at:
                                type: number
                              total_carousel_media_count:
                                type: number
                              strong_id__:
                                type: string
                              original_width:
                                type: number
                              original_height:
                                type: number
                              headline:
                                type: object
                                properties:
                                  content_type:
                                    type: string
                                  user:
                                    type: object
                                    properties:
                                      pk:
                                        type: number
                                      pk_id:
                                        type: string
                                      full_name:
                                        type: string
                                      is_private:
                                        type: boolean
                                      strong_id__:
                                        type: string
                                      id:
                                        type: string
[...]
