openapi: 3.0.0
info:
  title: MiTM Autogenerated API
  version: 1.0.0
servers:
  - url: https://i.instagram.com/api
    description: Primary Server
    variables: {}
paths:
  /v1/accounts/contact_point_prefill/:
    post:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            content-language:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-frame-options:
              schema:
                type: string
              required: true
            content-security-policy:
              schema:
                type: string
              required: true
            cross-origin-embedder-policy-report-only:
              schema:
                type: string
              required: true
            report-to:
              schema:
                type: string
              required: true
            cross-origin-opener-policy:
              schema:
                type: string
              required: true
            x-content-type-options:
              schema:
                type: string
              required: true
            x-xss-protection:
              schema:
                type: string
              required: true
            x-ig-push-state:
              schema:
                type: string
              required: true
            x-ig-cache-control:
              schema:
                type: string
              required: true
            x-aed:
              schema:
                type: string
              required: true
            x-ig-request-elapsed-time-ms:
              schema:
                type: string
              required: true
            x-ig-peak-v2:
              schema:
                type: string
              required: true
            x-ig-peak-time:
              schema:
                type: string
              required: true
            x-ig-capacity-level:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            ig-set-ig-u-ig-direct-region-hint:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbid:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbts:
              schema:
                type: string
              required: true
            ig-set-ig-u-rur:
              schema:
                type: string
              required: true
            ig-set-ig-u-ds-user-id:
              schema:
                type: string
              required: true
            x-perf-stats:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            x-ig-origin-region:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: "null"
                required:
                  - status
      parameters:
        - name: x-ig-app-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-mapped-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-rawclienttime
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-speed-kbps
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totalbytes-b
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totaltime-ms
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-version-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-www-claim
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-button-version
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-ax-base-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-font-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-is-layout-rtl
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-family-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-android-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-timezone-offset
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-nav-chain
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-salt-ids
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-private
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-network-properties
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-capabilities
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-mid
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-ds-user-id
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-rur
          in: header
          required: true
          schema:
            type: string
        - name: ig-intended-user-id
          in: header
          required: true
          schema:
            type: string
        - name: content-type
          in: header
          required: true
          schema:
            type: string
        - name: content-length
          in: header
          required: true
          schema:
            type: string
        - name: accept-encoding
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-http-engine
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-client-ip
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-server-cluster
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - signed_body
              properties:
                signed_body:
                  type: string
  /v1/accounts/current_user/:
    get:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            content-language:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-frame-options:
              schema:
                type: string
              required: true
            content-security-policy:
              schema:
                type: string
              required: true
            cross-origin-embedder-policy-report-only:
              schema:
                type: string
              required: true
            report-to:
              schema:
                type: string
              required: true
            cross-origin-opener-policy:
              schema:
                type: string
              required: true
            x-content-type-options:
              schema:
                type: string
              required: true
            x-xss-protection:
              schema:
                type: string
              required: true
            x-ig-push-state:
              schema:
                type: string
              required: true
            x-ig-cache-control:
              schema:
                type: string
              required: true
            x-aed:
              schema:
                type: string
              required: true
            x-ig-request-elapsed-time-ms:
              schema:
                type: string
              required: true
            x-ig-peak-v2:
              schema:
                type: string
              required: true
            x-ig-peak-time:
              schema:
                type: string
              required: true
            x-ig-capacity-level:
              schema:
                type: string
              required: true
            content-encoding:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            ig-set-ig-u-ig-direct-region-hint:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbid:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbts:
              schema:
                type: string
              required: true
            ig-set-ig-u-rur:
              schema:
                type: string
              required: true
            ig-set-ig-u-ds-user-id:
              schema:
                type: string
              required: true
            x-perf-stats:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            x-ig-origin-region:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      primary_profile_link_type:
                        type: number
                      show_fb_link_on_profile:
                        type: boolean
                      show_fb_page_link_on_profile:
                        type: boolean
                      can_hide_category:
                        type: boolean
                      account_type:
                        type: number
                      ads_page_id:
                        type: "null"
                      ads_page_name:
                        type: "null"
                      can_add_fb_group_link_on_profile:
                        type: boolean
                      last_seen_timezone:
                        type: "null"
                      account_category:
                        type: "null"
                      allowed_commenter_type:
                        type: "null"
                      fbid_v2:
                        type: number
                      full_name:
                        type: "null"
                      has_gen_ai_personas_for_profile_banner:
                        type: boolean
                      is_muted_words_spamscam_enabled:
                        type: boolean
                      text_app_should_see_autoimported_ig_profile_picture_dialog:
                        type: boolean
                      is_private:
                        type: boolean
                      has_nme_badge:
                        type: boolean
                      pk:
                        type: number
                      pk_id:
                        type: "null"
                      reel_auto_archive:
                        type: "null"
                      strong_id__:
                        type: "null"
                      id:
                        type: "null"
                      biography:
                        type: "null"
                      biography_with_entities:
                        type: object
                        properties:
                          raw_text:
                            type: "null"
                          entities:
                            type: array
                            items:
                              type: object
                              properties:
                                user:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    username:
                                      type: "null"
                                  required:
                                    - id
                                    - username
                              required:
                                - user
                        required:
                          - raw_text
                          - entities
                      can_link_entities_in_bio:
                        type: boolean
                      external_url:
                        type: "null"
                      has_biography_translation:
                        type: boolean
                      can_hide_public_contacts:
                        type: boolean
                      category:
                        type: "null"
                      should_show_category:
                        type: boolean
                      category_id:
                        type: number
                      is_category_tappable:
                        type: boolean
                      should_show_public_contacts:
                        type: boolean
                      is_eligible_for_smb_support_flow:
                        type: boolean
                      is_eligible_for_lead_center:
                        type: boolean
                      lead_details_app_id:
                        type: "null"
                      is_business:
                        type: boolean
                      professional_conversion_suggested_account_type:
                        type: number
                      direct_messaging:
                        type: "null"
                      can_claim_page:
                        type: boolean
                      can_crosspost_without_fb_token:
                        type: boolean
                      instagram_location_id:
                        type: "null"
                      address_street:
                        type: "null"
                      business_contact_method:
                        type: "null"
                      city_id:
                        type: number
                      city_name:
                        type: "null"
                      contact_phone_number:
                        type: "null"
                      is_profile_audio_call_enabled:
                        type: boolean
                      latitude:
                        type: number
                      longitude:
                        type: number
                      public_email:
                        type: "null"
                      public_phone_country_code:
                        type: "null"
                      public_phone_number:
                        type: "null"
                      zip:
                        type: "null"
                      displayed_action_button_partner:
                        type: "null"
                      smb_delivery_partner:
                        type: "null"
                      smb_support_delivery_partner:
                        type: "null"
                      displayed_action_button_type:
                        type: "null"
                      smb_support_partner:
                        type: "null"
                      is_call_to_action_enabled:
                        type: boolean
                      num_of_admined_pages:
                        type: "null"
                      page_id:
                        type: number
                      page_name:
                        type: "null"
                      bio_links:
                        type: array
                        items:
                          type: "null"
                      is_quiet_mode_enabled:
                        type: boolean
                      account_badges:
                        type: array
                        items:
                          type: "null"
                      birthday:
                        type: "null"
                      birthday_today_visibility_for_viewer:
                        type: "null"
                      custom_gender:
                        type: "null"
                      enable_add_school_in_edit_profile:
                        type: boolean
                      email:
                        type: "null"
                      gender:
                        type: number
                      has_anonymous_profile_picture:
                        type: boolean
                      has_external_url_edit_fl:
                        type: boolean
                      links_integrity_info:
                        type: object
                        properties:
                          decision:
                            type: boolean
                          enforcement_id:
                            type: "null"
                          reason:
                            type: "null"
                          enforcement_protocol_code:
                            type: "null"
                          entity_id:
                            type: number
                        required:
                          - decision
                          - enforcement_id
                          - reason
                          - enforcement_protocol_code
                          - entity_id
                      hd_profile_pic_url_info:
                        type: object
                        properties:
                          height:
                            type: number
                          url:
                            type: "null"
                          width:
                            type: number
                        required:
                          - height
                          - url
                          - width
                      hd_profile_pic_versions:
                        type: array
                        items:
                          type: object
                          properties:
                            height:
                              type: number
                            url:
                              type: "null"
                            width:
                              type: number
                          required:
                            - height
                            - url
                            - width
                      interop_messaging_user_fbid:
                        type: number
                      is_hide_more_comment_enabled:
                        type: boolean
                      is_muted_words_custom_enabled:
                        type: boolean
                      is_muted_words_global_enabled:
                        type: boolean
                      is_mv4b_biz_asset_profile_locked:
                        type: boolean
                      has_legacy_bb_pending_profile_picture_update:
                        type: boolean
                      has_mv4b_pending_profile_picture_update:
                        type: boolean
                      is_legacy_verified_max_profile_pic_edit_reached:
                        type: boolean
                      is_mv4b_max_profile_edit_reached:
                        type: boolean
                      is_mv4b_application_matured_for_profile_edit:
                        type: boolean
                      is_showing_birthday_selfie:
                        type: boolean
                      is_supervision_features_enabled:
                        type: boolean
                      is_verified:
                        type: boolean
                      is_user_eligible_for_threads_edit_profile_ep:
                        type: boolean
                      has_active_mv4b_application:
                        type: boolean
                      phone_number:
                        type: "null"
                      profile_pic_id:
                        type: "null"
                      profile_pic_url:
                        type: "null"
                      profile_edit_params:
                        type: object
                        properties:
                          full_name:
                            type: object
                            properties:
                              confirmation_dialog_text:
                                type: "null"
                              disclaimer_text:
                                type: "null"
                              is_pending_review:
                                type: boolean
                              should_show_confirmation_dialog:
                                type: boolean
                            required:
                              - confirmation_dialog_text
                              - disclaimer_text
                              - is_pending_review
                              - should_show_confirmation_dialog
                          username:
                            type: object
                            properties:
                              confirmation_dialog_text:
                                type: "null"
                              disclaimer_text:
                                type: "null"
                              is_pending_review:
                                type: boolean
                              should_show_confirmation_dialog:
                                type: boolean
                            required:
                              - confirmation_dialog_text
                              - disclaimer_text
                              - is_pending_review
                              - should_show_confirmation_dialog
                        required:
                          - full_name
                          - username
                      pronouns:
                        type: array
                        items:
                          type: "null"
                      show_conversion_edit_entry:
                        type: boolean
                      show_schools_badge:
                        type: "null"
                      show_teen_education_banner:
                        type: boolean
                      supervision_info:
                        type: object
                        properties:
                          auto_approval_enabled:
                            type: "null"
                          daily_time_limit_without_extensions_seconds:
                            type: "null"
                          fc_url:
                            type: "null"
                          has_guardian:
                            type: boolean
                          has_stated_age:
                            type: boolean
                          is_blocked_list_enabled:
                            type: boolean
                          is_daily_limit_non_blocking:
                            type: "null"
                          is_eligible_for_supervision:
                            type: boolean
                          is_guardian_of_viewer:
                            type: boolean
                          is_guardian_user:
                            type: boolean
                          is_modify_privacy_settings_enabled:
                            type: boolean
                          is_quiet_time_feature_enabled:
                            type: boolean
                          is_quiet_time_non_blocking:
                            type: "null"
                          is_supervised_by_viewer:
                            type: boolean
                          is_supervised_in_general_supervision_or_in_cooldown:
                            type: boolean
                          is_supervised_or_in_cooldown:
                            type: boolean
                          is_supervised_user:
                            type: boolean
                          screen_time_daily_limit_description:
                            type: "null"
                          screen_time_daily_limit_seconds:
                            type: "null"
                          latest_valid_time_limit_extension_request:
                            type: "null"
                          quiet_time_intervals:
                            type: "null"
                          feature_controls:
                            type: "null"
                        required:
                          - auto_approval_enabled
                          - daily_time_limit_without_extensions_seconds
                          - fc_url
                          - has_guardian
                          - has_stated_age
                          - is_blocked_list_enabled
                          - is_daily_limit_non_blocking
                          - is_eligible_for_supervision
                          - is_guardian_of_viewer
                          - is_guardian_user
                          - is_modify_privacy_settings_enabled
                          - is_quiet_time_feature_enabled
                          - is_quiet_time_non_blocking
                          - is_supervised_by_viewer
                          - is_supervised_in_general_supervision_or_in_cooldown
                          - is_supervised_or_in_cooldown
                          - is_supervised_user
                          - screen_time_daily_limit_description
                          - screen_time_daily_limit_seconds
                          - latest_valid_time_limit_extension_request
                          - quiet_time_intervals
                          - feature_controls
                      trusted_username:
                        type: "null"
                      trust_days:
                        type: number
                      username:
                        type: "null"
                      text_app_cover_photo_url:
                        type: "null"
                    required:
                      - primary_profile_link_type
                      - show_fb_link_on_profile
                      - show_fb_page_link_on_profile
                      - can_hide_category
                      - account_type
                      - ads_page_id
                      - ads_page_name
                      - can_add_fb_group_link_on_profile
                      - last_seen_timezone
                      - account_category
                      - allowed_commenter_type
                      - fbid_v2
                      - full_name
                      - has_gen_ai_personas_for_profile_banner
                      - is_muted_words_spamscam_enabled
                      - text_app_should_see_autoimported_ig_profile_picture_dialog
                      - is_private
                      - has_nme_badge
                      - pk
                      - pk_id
                      - reel_auto_archive
                      - strong_id__
                      - id
                      - biography
                      - biography_with_entities
                      - can_link_entities_in_bio
                      - external_url
                      - has_biography_translation
                      - can_hide_public_contacts
                      - category
                      - should_show_category
                      - category_id
                      - is_category_tappable
                      - should_show_public_contacts
                      - is_eligible_for_smb_support_flow
                      - is_eligible_for_lead_center
                      - lead_details_app_id
                      - is_business
                      - professional_conversion_suggested_account_type
                      - direct_messaging
                      - can_claim_page
                      - can_crosspost_without_fb_token
                      - instagram_location_id
                      - address_street
                      - business_contact_method
                      - city_id
                      - city_name
                      - contact_phone_number
                      - is_profile_audio_call_enabled
                      - latitude
                      - longitude
                      - public_email
                      - public_phone_country_code
                      - public_phone_number
                      - zip
                      - displayed_action_button_partner
                      - smb_delivery_partner
                      - smb_support_delivery_partner
                      - displayed_action_button_type
                      - smb_support_partner
                      - is_call_to_action_enabled
                      - num_of_admined_pages
                      - page_id
                      - page_name
                      - bio_links
                      - is_quiet_mode_enabled
                      - account_badges
                      - birthday
                      - birthday_today_visibility_for_viewer
                      - custom_gender
                      - enable_add_school_in_edit_profile
                      - email
                      - gender
                      - has_anonymous_profile_picture
                      - has_external_url_edit_fl
                      - links_integrity_info
                      - hd_profile_pic_url_info
                      - hd_profile_pic_versions
                      - interop_messaging_user_fbid
                      - is_hide_more_comment_enabled
                      - is_muted_words_custom_enabled
                      - is_muted_words_global_enabled
                      - is_mv4b_biz_asset_profile_locked
                      - has_legacy_bb_pending_profile_picture_update
                      - has_mv4b_pending_profile_picture_update
                      - is_legacy_verified_max_profile_pic_edit_reached
                      - is_mv4b_max_profile_edit_reached
                      - is_mv4b_application_matured_for_profile_edit
                      - is_showing_birthday_selfie
                      - is_supervision_features_enabled
                      - is_verified
                      - is_user_eligible_for_threads_edit_profile_ep
                      - has_active_mv4b_application
                      - phone_number
                      - profile_pic_id
                      - profile_pic_url
                      - profile_edit_params
                      - pronouns
                      - show_conversion_edit_entry
                      - show_schools_badge
                      - show_teen_education_banner
                      - supervision_info
                      - trusted_username
                      - trust_days
                      - username
                      - text_app_cover_photo_url
                  status:
                    type: "null"
                required:
                  - user
                  - status
      parameters:
        - name: x-ig-app-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-mapped-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-rawclienttime
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-speed-kbps
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totalbytes-b
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totaltime-ms
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-version-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-www-claim
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-button-version
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-ax-base-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-font-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-is-layout-rtl
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-family-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-android-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-timezone-offset
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-nav-chain
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-salt-ids
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-private
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-network-properties
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-capabilities
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-mid
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-ds-user-id
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-rur
          in: header
          required: true
          schema:
            type: string
        - name: ig-intended-user-id
          in: header
          required: true
          schema:
            type: string
        - name: accept-encoding
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-http-engine
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-client-ip
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-server-cluster
          in: header
          required: true
          schema:
            type: string
        - name: edit
          in: query
          required: true
          schema:
            type: string
  /v1/accounts/fetch_onetap/:
    post:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            content-language:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-frame-options:
              schema:
                type: string
              required: true
            content-security-policy:
              schema:
                type: string
              required: true
            cross-origin-embedder-policy-report-only:
              schema:
                type: string
              required: true
            report-to:
              schema:
                type: string
              required: true
            cross-origin-opener-policy:
              schema:
                type: string
              required: true
            x-content-type-options:
              schema:
                type: string
              required: true
            x-xss-protection:
              schema:
                type: string
              required: true
            x-ig-push-state:
              schema:
                type: string
              required: true
            x-ig-cache-control:
              schema:
                type: string
              required: true
            x-aed:
              schema:
                type: string
              required: true
            x-ig-request-elapsed-time-ms:
              schema:
                type: string
              required: true
            x-ig-peak-v2:
              schema:
                type: string
              required: true
            x-ig-peak-time:
              schema:
                type: string
              required: true
            x-ig-capacity-level:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            ig-set-ig-u-ig-direct-region-hint:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbid:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbts:
              schema:
                type: string
              required: true
            ig-set-ig-u-rur:
              schema:
                type: string
              required: true
            ig-set-ig-u-ds-user-id:
              schema:
                type: string
              required: true
            x-perf-stats:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            x-ig-origin-region:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  login_nonce:
                    type: "null"
                  feta_linked_profiles_info:
                    type: array
                    items:
                      type: "null"
                  status:
                    type: "null"
                required:
                  - login_nonce
                  - feta_linked_profiles_info
                  - status
      parameters:
        - name: x-ig-app-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-mapped-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-rawclienttime
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-speed-kbps
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totalbytes-b
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totaltime-ms
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-version-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-www-claim
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-button-version
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-ax-base-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-font-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-is-layout-rtl
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-family-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-android-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-timezone-offset
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-nav-chain
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-client-endpoint
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-private
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-network-properties
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-capabilities
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-mid
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-ds-user-id
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-rur
          in: header
          required: true
          schema:
            type: string
        - name: ig-intended-user-id
          in: header
          required: true
          schema:
            type: string
        - name: content-type
          in: header
          required: true
          schema:
            type: string
        - name: content-length
          in: header
          required: true
          schema:
            type: string
        - name: accept-encoding
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-http-engine
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-client-ip
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-server-cluster
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - signed_body
              properties:
                signed_body:
                  type: string
  /v1/accounts/get_post_filter_keywords/:
    get:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            content-language:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-frame-options:
              schema:
                type: string
              required: true
            content-security-policy:
              schema:
                type: string
              required: true
            cross-origin-embedder-policy-report-only:
              schema:
                type: string
              required: true
            report-to:
              schema:
                type: string
              required: true
            cross-origin-opener-policy:
              schema:
                type: string
              required: true
            x-content-type-options:
              schema:
                type: string
              required: true
            x-xss-protection:
              schema:
                type: string
              required: true
            x-ig-push-state:
              schema:
                type: string
              required: true
            x-ig-cache-control:
              schema:
                type: string
              required: true
            x-aed:
              schema:
                type: string
              required: true
            x-ig-request-elapsed-time-ms:
              schema:
                type: string
              required: true
            x-ig-peak-v2:
              schema:
                type: string
              required: true
            x-ig-peak-time:
              schema:
                type: string
              required: true
            x-ig-capacity-level:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            ig-set-ig-u-ig-direct-region-hint:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbid:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbts:
              schema:
                type: string
              required: true
            ig-set-ig-u-rur:
              schema:
                type: string
              required: true
            ig-set-ig-u-ds-user-id:
              schema:
                type: string
              required: true
            x-perf-stats:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            x-ig-origin-region:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  keywords:
                    type: array
                    items:
                      type: "null"
                  disabled:
                    type: number
                  status:
                    type: "null"
                required:
                  - keywords
                  - disabled
                  - status
      parameters:
        - name: x-ig-app-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-mapped-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-rawclienttime
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-speed-kbps
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totalbytes-b
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totaltime-ms
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-version-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-www-claim
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-button-version
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-ax-base-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-font-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-is-layout-rtl
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-family-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-android-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-timezone-offset
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-nav-chain
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-salt-ids
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-private
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-network-properties
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-capabilities
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-mid
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-ds-user-id
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-rur
          in: header
          required: true
          schema:
            type: string
        - name: ig-intended-user-id
          in: header
          required: true
          schema:
            type: string
        - name: accept-encoding
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-http-engine
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-client-ip
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-server-cluster
          in: header
          required: true
          schema:
            type: string
  /v1/accounts/logout/:
    post:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            content-language:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-frame-options:
              schema:
                type: string
              required: true
            content-security-policy:
              schema:
                type: string
              required: true
            cross-origin-embedder-policy-report-only:
              schema:
                type: string
              required: true
            report-to:
              schema:
                type: string
              required: true
            cross-origin-opener-policy:
              schema:
                type: string
              required: true
            x-content-type-options:
              schema:
                type: string
              required: true
            x-xss-protection:
              schema:
                type: string
              required: true
            x-ig-push-state:
              schema:
                type: string
              required: true
            x-ig-cache-control:
              schema:
                type: string
              required: true
            x-aed:
              schema:
                type: string
              required: true
            x-ig-request-elapsed-time-ms:
              schema:
                type: string
              required: true
            x-ig-peak-v2:
              schema:
                type: string
              required: true
            x-ig-peak-time:
              schema:
                type: string
              required: true
            x-ig-capacity-level:
              schema:
                type: string
              required: true
            content-encoding:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            ig-set-authorization:
              schema:
                type: string
              required: true
            ig-set-ig-u-ig-direct-region-hint:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbid:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbts:
              schema:
                type: string
              required: true
            ig-set-ig-u-rur:
              schema:
                type: string
              required: true
            ig-set-ig-u-ds-user-id:
              schema:
                type: string
              required: true
            x-perf-stats:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            x-ig-origin-region:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  login_nonce:
                    type: "null"
                  phone_number:
                    type: "null"
                  email:
                    type: "null"
                  device_based_login_enabled:
                    type: boolean
                  feta_linked_profiles_info:
                    type: array
                    items:
                      type: "null"
                  status:
                    type: "null"
                required:
                  - login_nonce
                  - phone_number
                  - email
                  - device_based_login_enabled
                  - feta_linked_profiles_info
                  - status
      parameters:
        - name: x-ig-app-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-mapped-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-rawclienttime
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-speed-kbps
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totalbytes-b
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totaltime-ms
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-version-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-www-claim
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-button-version
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-ax-base-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-font-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-is-layout-rtl
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-family-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-android-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-timezone-offset
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-nav-chain
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-client-endpoint
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-private
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-network-properties
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-capabilities
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-mid
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-ds-user-id
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-rur
          in: header
          required: true
          schema:
            type: string
        - name: ig-intended-user-id
          in: header
          required: true
          schema:
            type: string
        - name: content-type
          in: header
          required: true
          schema:
            type: string
        - name: content-length
          in: header
          required: true
          schema:
            type: string
        - name: accept-encoding
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-http-engine
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-client-ip
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-server-cluster
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - phone_id
                - is_app_level_spi
                - guid
                - device_id
                - _uuid
                - one_tap_app_login
                - prevent_remove_device_from_wa
              properties:
                phone_id:
                  type: string
                is_app_level_spi:
                  type: string
                guid:
                  type: string
                device_id:
                  type: string
                _uuid:
                  type: string
                one_tap_app_login:
                  type: string
                prevent_remove_device_from_wa:
                  type: string
  /v1/address_book/get_user_cps_for_invite/:
    get:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            content-language:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-frame-options:
              schema:
                type: string
              required: true
            content-security-policy:
              schema:
                type: string
              required: true
            cross-origin-embedder-policy-report-only:
              schema:
                type: string
              required: true
            report-to:
              schema:
                type: string
              required: true
            cross-origin-opener-policy:
              schema:
                type: string
              required: true
            x-content-type-options:
              schema:
                type: string
              required: true
            x-xss-protection:
              schema:
                type: string
              required: true
            x-ig-push-state:
              schema:
                type: string
              required: true
            x-ig-cache-control:
              schema:
                type: string
              required: true
            x-aed:
              schema:
                type: string
              required: true
            x-ig-request-elapsed-time-ms:
              schema:
                type: string
              required: true
            x-ig-peak-v2:
              schema:
                type: string
              required: true
            x-ig-peak-time:
              schema:
                type: string
              required: true
            x-ig-capacity-level:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            ig-set-ig-u-ig-direct-region-hint:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbid:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbts:
              schema:
                type: string
              required: true
            ig-set-ig-u-rur:
              schema:
                type: string
              required: true
            ig-set-ig-u-ds-user-id:
              schema:
                type: string
              required: true
            x-perf-stats:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            x-ig-origin-region:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  phone_number_contacts:
                    type: array
                    items:
                      type: "null"
                  emails_contacts:
                    type: array
                    items:
                      type: "null"
                  status:
                    type: "null"
                required:
                  - phone_number_contacts
                  - emails_contacts
                  - status
      parameters:
        - name: x-ig-app-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-mapped-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-rawclienttime
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-speed-kbps
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totalbytes-b
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totaltime-ms
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-version-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-www-claim
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-button-version
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-ax-base-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-font-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-is-layout-rtl
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-family-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-android-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-timezone-offset
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-nav-chain
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-client-endpoint
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-private
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-network-properties
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-capabilities
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-mid
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-ds-user-id
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-rur
          in: header
          required: true
          schema:
            type: string
        - name: ig-intended-user-id
          in: header
          required: true
          schema:
            type: string
        - name: accept-encoding
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-http-engine
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-client-ip
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-server-cluster
          in: header
          required: true
          schema:
            type: string
        - name: is_first_fetch
          in: query
          required: true
          schema:
            type: string
  /v1/address_book/link/:
    post:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            content-language:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-frame-options:
              schema:
                type: string
              required: true
            content-security-policy:
              schema:
                type: string
              required: true
            cross-origin-embedder-policy-report-only:
              schema:
                type: string
              required: true
            report-to:
              schema:
                type: string
              required: true
            cross-origin-opener-policy:
              schema:
                type: string
              required: true
            x-content-type-options:
              schema:
                type: string
              required: true
            x-xss-protection:
              schema:
                type: string
              required: true
            x-ig-push-state:
              schema:
                type: string
              required: true
            x-ig-cache-control:
              schema:
                type: string
              required: true
            x-aed:
              schema:
                type: string
              required: true
            x-ig-request-elapsed-time-ms:
              schema:
                type: string
              required: true
            x-ig-peak-v2:
              schema:
                type: string
              required: true
            x-ig-peak-time:
              schema:
                type: string
              required: true
            x-ig-capacity-level:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            ig-set-ig-u-ig-direct-region-hint:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbid:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbts:
              schema:
                type: string
              required: true
            ig-set-ig-u-rur:
              schema:
                type: string
              required: true
            ig-set-ig-u-ds-user-id:
              schema:
                type: string
              required: true
            x-perf-stats:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            x-ig-origin-region:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: "null"
                  users:
                    type: array
                    items:
                      type: "null"
                  status:
                    type: "null"
                required:
                  - items
                  - users
                  - status
      parameters:
        - name: x-ig-app-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-mapped-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-rawclienttime
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-speed-kbps
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totalbytes-b
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totaltime-ms
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-version-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-www-claim
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-button-version
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-ax-base-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-font-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-is-layout-rtl
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-family-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-android-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-timezone-offset
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-nav-chain
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-client-endpoint
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-private
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-network-properties
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-capabilities
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-mid
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-ds-user-id
          in: header
          required: true
          schema:
            type: string
        - name: ig-u-rur
          in: header
          required: true
          schema:
            type: string
        - name: ig-intended-user-id
          in: header
          required: true
          schema:
            type: string
        - name: content-type
          in: header
          required: true
          schema:
            type: string
        - name: content-encoding
          in: header
          required: true
          schema:
            type: string
        - name: content-length
          in: header
          required: true
          schema:
            type: string
        - name: accept-encoding
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-http-engine
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-client-ip
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-server-cluster
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - phone_id
                - module
                - source
                - has_seen_new_ci_content
                - should_process_contacts_immediately
                - contacts
                - device_id
                - _uuid
              properties:
                phone_id:
                  type: string
                module:
                  type: string
                source:
                  type: string
                has_seen_new_ci_content:
                  type: string
                should_process_contacts_immediately:
                  type: string
                contacts:
                  type: string
                device_id:
                  type: string
                _uuid:
                  type: string
  /v1/ads/ads_manager/fetch_promotions_v2/:
    post:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            content-language:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-frame-options:
              schema:
                type: string
              required: true
            content-security-policy:
              schema:
                type: string
              required: true
            cross-origin-embedder-policy-report-only:
              schema:
                type: string
              required: true
            report-to:
              schema:
                type: string
              required: true
            cross-origin-resource-policy:
              schema:
                type: string
              required: true
            cross-origin-opener-policy:
              schema:
                type: string
              required: true
            x-content-type-options:
              schema:
                type: string
              required: true
            x-xss-protection:
              schema:
                type: string
              required: true
            x-ig-push-state:
              schema:
                type: string
              required: true
            x-ig-cache-control:
              schema:
                type: string
              required: true
            x-aed:
              schema:
                type: string
              required: true
            x-ig-request-elapsed-time-ms:
              schema:
                type: string
              required: true
            x-ig-peak-v2:
              schema:
                type: string
              required: true
            x-ig-peak-time:
              schema:
                type: string
              required: true
            x-ig-capacity-level:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            ig-set-ig-u-ig-direct-region-hint:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbid:
              schema:
                type: string
              required: true
            ig-set-ig-u-shbts:
              schema:
                type: string
              required: true
            ig-set-ig-u-rur:
              schema:
                type: string
              required: true
            ig-set-ig-u-ds-user-id:
              schema:
                type: string
              required: true
            x-perf-stats:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            x-ig-origin-region:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_promotions_for_section:
                    type: number
                  total_unread_leads_count:
                    type: number
                  total_promotions_for_user:
                    type: number
                  has_created_lead_ad:
                    type: boolean
                  has_next:
                    type: boolean
                  promotions:
                    type: array
                    items:
                      type: "null"
                  draft_promotions:
                    type: array
                    items:
                      type: "null"
                  status:
                    type: "null"
                required:
                  - total_promotions_for_section
                  - total_unread_leads_count
                  - total_promotions_for_user
                  - has_created_lead_ad
                  - has_next
                  - promotions
                  - draft_promotions
                  - status
      parameters:
        - name: x-ig-app-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-mapped-locale
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-pigeon-rawclienttime
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-speed-kbps
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totalbytes-b
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-bandwidth-totaltime-ms
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-version-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-www-claim
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-button-version
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-ax-base-colors-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-prism-font-enabled
          in: header
          required: true
          schema:
            type: string
        - name: x-bloks-is-layout-rtl
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-family-device-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-android-id
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-timezone-offset
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-nav-chain
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-client-endpoint
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-salt-ids
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-id
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-session-private
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-network-properties
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-capabilities
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
[...]
