openapi: 3.0.0
info:
  title: MiTM Autogenerated API
  version: 1.0.0
servers:
  - url: https://graph.instagram.com
    description: Primary Server
    variables: {}
paths:
  /logging_client_events:
    post:
      responses:
        "200":
          description: ""
          headers:
            content-type:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            x-content-type-options:
              schema:
                type: string
              required: true
            cross-origin-resource-policy:
              schema:
                type: string
              required: true
            facebook-api-version:
              schema:
                type: string
              required: true
            access-control-allow-origin:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-fb-request-id:
              schema:
                type: string
              required: true
            x-fb-trace-id:
              schema:
                type: string
              required: true
            x-fb-rev:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            x-fb-debug:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
            content-encoding:
              schema:
                type: string
              required: false
          content:
            text/javascript:
              schema:
                type: string
      parameters:
        - name: x-fb-session-id
          in: header
          required: false
          schema:
            type: string
        - name: x-fb-session-private
          in: header
          required: false
          schema:
            type: string
        - name: x-fb-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-connection-type
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-network-properties
          in: header
          required: false
          schema:
            type: string
        - name: x-ig-capabilities
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          required: true
          schema:
            type: string
        - name: content-type
          in: header
          required: true
          schema:
            type: string
        - name: content-encoding
          in: header
          required: false
          schema:
            type: string
        - name: content-length
          in: header
          required: true
          schema:
            type: string
        - name: accept-encoding
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-http-engine
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-client-ip
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-server-cluster
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-exp-tag
          in: header
          required: false
          schema:
            type: string
        - name: priority
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - access_token
                - format
                - ffdb_token
                - compressed
                - sent_time
                - message
              properties:
                access_token:
                  type: string
                format:
                  type: string
                ffdb_token:
                  type: string
                compressed:
                  type: string
                sent_time:
                  type: string
                message:
                  type: string
  /rmd:
    post:
      responses:
        "200":
          description: ""
          headers:
            content-encoding:
              schema:
                type: string
              required: false
            content-type:
              schema:
                type: string
              required: true
            vary:
              schema:
                type: string
              required: true
            facebook-api-version:
              schema:
                type: string
              required: true
            access-control-allow-origin:
              schema:
                type: string
              required: true
            strict-transport-security:
              schema:
                type: string
              required: true
            pragma:
              schema:
                type: string
              required: true
            cache-control:
              schema:
                type: string
              required: true
            expires:
              schema:
                type: string
              required: true
            x-fb-request-id:
              schema:
                type: string
              required: true
            x-fb-trace-id:
              schema:
                type: string
              required: true
            x-fb-rev:
              schema:
                type: string
              required: true
            x-stack:
              schema:
                type: string
              required: true
            x-fb-debug:
              schema:
                type: string
              required: true
            content-length:
              schema:
                type: string
              required: true
            date:
              schema:
                type: string
              required: true
            x-fb-client-ip-forwarded:
              schema:
                type: string
              required: true
            x-fb-server-cluster-forwarded:
              schema:
                type: string
              required: true
            x-fb-connection-quality:
              schema:
                type: string
              required: true
            alt-svc:
              schema:
                type: string
              required: true
          content:
            text/javascript:
              schema:
                type: string
      parameters:
        - name: x-fb-request-analytics-tags
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-rmd
          in: header
          required: true
          schema:
            type: string
        - name: x-ig-capabilities
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-friendly-name
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-privacy-context
          in: header
          required: true
          schema:
            type: string
        - name: x-tigon-is-retry
          in: header
          required: true
          schema:
            type: string
        - name: accept-encoding
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-http-engine
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-client-ip
          in: header
          required: true
          schema:
            type: string
        - name: x-fb-server-cluster
          in: header
          required: true
          schema:
            type: string
        - name: access_token
          in: query
          required: true
          schema:
            type: string
        - name: rule_context
          in: query
          required: true
          schema:
            type: string
        - name: net_iface
          in: query
          required: true
          schema:
            type: string
        - name: reason
          in: query
          required: true
          schema:
            type: string
        - name: prev_token
          in: query
          required: false
          schema:
            type: string
